* {margin: 0;}

/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

html { 
font-size: 100%; 
-webkit-overflow-scrolling: touch; 
-webkit-tap-highlight-color: rgba(0,0,0,0); 
-webkit-text-size-adjust: 100%; 
-ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }
form#form1, html, body {height: 100%;}
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #127ee9; color: #fff; text-shadow: none; }
::selection { background: #127ee9; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a {
	color: #333;
	text-decoration: none;
}
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { list-style: none; margin: 0; padding: 0; }
dd { margin: 0; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Ben Pfohl
   ========================================================================== */

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0 0 -80px 0;
	min-width: 960px;
}
.wrapper {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  min-width: 1124px;
}

.header {
	background: #276da3;
	background: -moz-linear-gradient(top,  #276da3 0%, #004174 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#276da3), color-stop(100%,#004174));
	background: -webkit-linear-gradient(top,  #276da3 0%,#004174 100%);
	background: -o-linear-gradient(top,  #276da3 0%,#004174 100%);
	background: -ms-linear-gradient(top,  #276da3 0%,#004174 100%);
	background: linear-gradient(top,  #276da3 0%,#004174 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276da3', endColorstr='#004174',GradientType=0 );
    height: 50px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
	.header:after {
	    content: " ";
	    display: block;
	    height: 100%;
	    width: 100%;
		}
	.header #logo {
		width: 300px;
		float: left;
		height: 50px;
		}
	.header #logo h1 {
	    font-size: 21px;
	    margin: 12px 0;
		}
		.header #logo a h1 {color: White;}
		#global-nav { 
			float: right;
    		width: 220px;
			/* margin-right: -10px;  */
			}
			#gravatar {
				border: 1px solid #F1F1F1;
			    height: 26px;
			    margin: 10px 0 0;
			    width: 26px;
				}		
			/*Menu Config-widths*/
			ul.main { height: 50px; width: auto; padding: 0 15px;}
			ul.sub,ul.sub_rt { top: 50px; }/*Change with menu height*/
			ul.main li ul li { width: 150px; } /*Define width of all dropdowns*/
			
			/*Menu colors*/
			ul.main li:hover:after { border-color: transparent transparent #4c4c4c transparent; }/*Color of UP arrow in main menu*/ 
			div.nav ul.main li ul.sub li a, div.nav ul.main li ul.sub_rt li a { color: #F4F4F4; } /*Dropdown link color*/
			
			ul.main li ul.sub,
			ul.main li ul.sub_rt {
				background: #4c4c4c; border-top: 3px solid #4c4c4c; border-bottom: 3px solid #4c4c4c; 
				} /*Background and top/bot borders*/
			
			ul.main li ul.sub li,
			ul.main li ul.sub_rt li { 
				border-bottom: 1px solid #686868; 
				}/*border betwean links in dropdown*/
				
			ul.main li ul.sub li:hover, 
			ul.main li ul.sub_rt li:hover{
				background: #686868; 
				}/*Hover on dropdowns*/
			
			/** MAIN MENU STYLE **/
			.nav ul.main li.fr { float: right; position: relative; z-index: 99999;}
			.nav ul.main li {margin: 0;}
			
			.nav ul.main li a {
				display: block;
				font: normal 13px/50px Arial, sans-serif;
				text-decoration: none;
				padding: 0 15px;
				position: relative;
				color: #fff;
			}
			.nav ul.main li a.config {
				display: block;
				width: 20px;
				height: 50px;
				background: url(images/configuration.png) no-repeat center center;				
				padding: 0 10px 0 0;
				}
				.nav ul.main li a.config span {
					display: none;
					}
			.nav ul.main li:hover:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 44%;
				border-style: solid;
				border-width: 6px;
				width: 0;
				height: 0;
			}
			/* SUB MENU STYLE - dropdown 1st level*/
			.nav ul.main li ul.sub, 
			.nav ul.main li ul.sub_rt { 
				display: none; 
				}
			.nav ul.main li:hover ul.sub {
				display: block;
				position: absolute;
				left: 0;
			}
			.nav ul.main li:hover ul.sub_rt {
				display: block;
				position: absolute;
				right: 0;
			}
			.nav ul.main li ul.sub li, 
			.nav ul.main li ul.sub_rt li { 
				position: relative;
				}
			.nav ul.main li ul.sub li:first-child, 
			.nav ul.main li ul.sub_rt li:first-child {
				margin-left: 0; 
				}
			.nav ul.main li ul.sub li:last-child, 
			.nav ul.main li ul.sub_rt li:last-child { 
				border-bottom: none; 
				}
			
			.nav ul.main li ul.sub li:hover:after, 
			.nav ul.main li ul.sub_rt li:hover:after {
				content: '';
				position: absolute;
				border: 0;
				}
				
			.nav ul.main li ul.sub li a, 
			.nav ul.main li ul.sub_rt li a {
				display: block;
				font: normal 11px/30px Arial, sans-serif;
				}	
					
	/*-- Top Search Bar --*/	
	
	#global-search {
		float: left;
	    height: 30px;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    top: 10px;
	    width: 200px;
		}
		#global-search input {
			padding: 7px 10px;
			border-radius: 3px;
			-moz-border-radius: 3px;  
			-webkit-border-radius: 3px;  
			font: normal 12px/100% sans-serif;
			color: #999;
			width: 100%; 
			}
	#global-search-submit {
		float: left;
    	margin: 10px 0 0 25px;
		}
		#global-search-submit input.buttons {
			font: normal 12px/100% arial;
			font-weight: bold !important;
		    line-height: 100%;
		    padding: 7px 15px;
			}				
				
.top-nav {
	background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #fff;
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;		
	}
	.sub-nav {
	background: none repeat scroll 0 0 #fbfbfb;
    border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #fff;
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;	
	}
	
	.top-nav ul {
		padding: 8px 0;
		margin-left: -8px;
		float: left;
		width: 100%;
		}
		.top-nav ul li {
			display: inline;
			float: left;
			margin: 0;
			}
			.top-nav ul li a {
				color: #333333;
				padding: 5px 8px;
				margin: 0 5px 0 0;	
				text-decoration: none !important;
				font-weight: bold;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px 5px 5px 5px;
				}
				.top-nav.sub-nav ul li a 
				{
				    font-weight: normal;
				    }
			.top-nav ul li a:hover, .top-nav ul li.active a {
				background-color: #dadbdf;
				color: #555555 !important;
				}
		.top-nav ul li.pagehelp {
			float: right;
			font-size: 0.87em;
			margin-left: 10px;
			padding: 0 0 0 10px;
			background: url(../../SherpaDeskv2/images/pagehelp.png) no-repeat left center;
			}
			.top-nav ul li.pagehelp a, .top-nav ul li.pagehelp a:hover {
				background-color: transparent;
				color: #979797;
				}

#announcement {margin-top: 10px;}
.maincontent {margin: 20px 0;}

.left {float: left;}
.right {float: right;}
.config-stage 
{
    margin-left: 220px;
    min-width: 600px;
    width: 85%;
    }
.aside {
	width: 180px;
	padding: 0 0 10px 0;
	margin-right: 40px;
	margin-bottom: 120px;
	}
	.aside .menutitle {
		font-size: 1.2em;
		padding-bottom: 5px;
		margin: 15px 0 5px;
		border-bottom: 1px solid #E5E5E5;
		}
		.aside .menutitle.first 
		{
		    margin-top: 0;
		    padding-top: 0;
		    }
	.aside ul li {
		padding: 5px 0;
		margin: 0;
		}
		.aside ul li.tickets 
		{
		    padding-left: 22px;
		    background: url("../../SherpaDeskv2/images/config-icons/tickets.png") no-repeat left center;
		    }
		.aside ul li.accounts 
		{
		    padding-left: 22px;
		    background: url("../../SherpaDeskv2/images/config-icons/account.png") no-repeat left center;
		    }
		.aside ul li.locations 
		{
		    padding-left: 22px;
		    background: url("../../SherpaDeskv2/images/config-icons/location.png") no-repeat left center;
		    }
		.aside ul li.projects 
		{
		    padding-left: 22px;
		    background: url("../../SherpaDeskv2/images/config-icons/projects.png") no-repeat left center;
		    }
		.aside ul li.assets 
		{
		    padding-left: 22px;
		    background: url("../../SherpaDeskv2/images/config-icons/assets.png") no-repeat left center;
		    } 
		.aside ul li.auditor
		{
		    padding-left: 22px;
		    background: url("../../SherpaDeskv2/images/config-icons/auditor.png") no-repeat left center;
		    } 
		.aside ul li.parts
		{
		    padding-left: 22px;
		    background: url("../../SherpaDeskv2/images/config-icons/parts.png") no-repeat left center;
		    }  
		.aside ul li.kb
		{
		    padding-left: 22px;
		    background: url("../../SherpaDeskv2/images/config-icons/knowledgebase.png") no-repeat left center;
		    }  
		.aside ul li.logins
		{
		    padding-left: 22px;
		    background: url("../../SherpaDeskv2/images/config-icons/logins.png") no-repeat left center;
		    }   
		
		   
	.aside ul li a {
		color: #004174;
		padding: 3px 8px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px 4px 4px 4px; 
		}
		.aside ul li a:hover, .aside ul li a.current {
			background-color: #E9E9E9;
			}

.footer, .push {height: 100px;}
.footer {
	background: background-color: #F4F4F4;
	width: 100%;
	min-width: 960px;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #CCC;
	color: #777;
	}
	.footer a {
		color: #555555;
		}
		.footer a:hover {
		color: #000;
		text-decoration: none; 
		border-bottom: 1px dashed;
		}
	.footer #message {
		color: #000;
		font-size: 12px !important;
		}
	.footer #left-foot {
		float: left;
		width: auto;
		text-align: left;		
		}
		.footer #left-foot ul {
			
			}
			.footer #left-foot ul li {
				font-size: .8em;
				line-height: 1.5em;
				display: inline;
				padding: 0 5px;
				}
	.footer #right-foot {
		float: right;
		width: auto;
		text-align: right;
		}
		.footer #right-foot ul {
			display: block;
			}
			.footer #right-foot ul li {
				font-size: .8em;
				line-height: 1.5em;
				}



/*-------------- Wells ----------------*/
.blue-well 
{
    margin-top: 20px;
    padding: 15px 10px;
    background-color: #105387;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    }
.gray-well 
{
    padding: 10px 25px;
    background-color: #f3f3f3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    }
.white-well 
{
    padding: 10px;
    margin-bottom: 10px;    
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    }



/*-- pill --*/
.pill {
	padding: 3px 8px;
	margin: 0 5px;	
	text-decoration: none !important;
	font-weight: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius:8px;
	border-radius: 8px 8px 8px 8px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	}
	
/*-- colors --*/

.red {
	background-color: #910003;
	color: #fff !important;
	}	
.red:hover {
	background-color: #cb2226;
	}
.green {
	background-color: #61a319;
	color: #fff !important;
	}	
.green:hover {
	background-color: #a0c874;
	}
.gray {
	background-color: #4f5970;
	color: #fff !important;
	}	
.gray:hover,
.gray.active {
	background-color: #9cbbe6;
	}
.ltgray {
	background-color: #dadbdf;
	color: #555555 !important;
	}	
.ltgray:hover {
	background-color: #bbc2d3;
	}
.blue {
    background-color: #058DC7;
    color: white !important;
    }
.drkblue {
    background-color: #004174;
    color: white !important;
    }
.todogray {
	background-color: #4f5970;
	color: white !important;
	}


/*-- Table Controls --*/

.top-table-control, .bottom-table-control {
	width: 100%;
	min-height: 55px;
	overflow: hidden;
	}

.top-table-control ul li, .bottom-table-control ul li, .selected-controls ul li {
	display: inline-block;
	list-style: none;
	margin: 0;
	}

.top-table-control .tableadd {
	float: right;
	margin: 13px 0;
	}

.top-table-control .search-add 
{
    padding: 10px 0 20px; 
    overflow: hidden;
    }

.selected-controls {
	background-color: #E1E1E1;
    height: 20px;
    margin: 15px 0 0;
    overflow: hidden;
    padding: 10px;
    width: 100%;	 
	}
	.selected-controls .pill {font-size: 11px;}
.bottom-table-control .selected-controls 
{
    margin-top: 0;
    }
.selected-controls .drop 
{
    padding-right: 20px;
    background: #4f5970 url(../../SherpaDeskv2/images/drop.png) no-repeat right center;
    }
	
	.selected-controls .left ul {
		 
		}
	
	.selected-controls .right ul {
		margin-right: 15px;
		}

        .selected-controls li ul {
	        position: absolute;
	        width: auto;
	        min-width: 100px;
	        left: -999em;
	        background-color: #efefef;
	        color: #777 !important;
	        padding: 5px 10px;
	        margin: 2px 0 0 10px;
	        -moz-border-radius-topleft: 0px;
             -moz-border-radius-topright: 5px;
             -moz-border-radius-bottomright: 5px;
             -moz-border-radius-bottomleft: 5px;
             -webkit-border-radius: 0px 5px 5px 5px;
             border-radius: 0px 5px 5px 5px; 
             -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
	        -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            }
            
            .bottom-table-control .selected-controls li:hover ul 
            {
                bottom: inherit;
                }
            
            .selected-controls li a 
            {
                color: #000;
                text-decoration: none;
                }
            .selected-controls li ul li 
            {
                display: block;
                padding: 5px;
                }
                .selected-controls li ul li:hover 
                {
                    background-color: #e1e1e1;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px 4px 4px 4px; 
                    } 
        .selected-controls li:hover ul
        {
            left: auto;
            }

.bottom-table-control .table-page {
	float: left;
	margin-top: 8px;
	padding: 5px 0;
	}
	
.bottom-table-control .table-page ul li {
	margin: 4px 0;
	}
	
	.bottom-table-control .table-page ul li a {
		background-color: #EBEBEB;
		color: #444444;
		font-size: 11px;
		margin: 0;
		padding: 6px 8px;
		text-decoration: none;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px; 
		}
	.bottom-table-control .table-page ul li a:hover,
	.bottom-table-control .table-page ul li a.current {
		background-color: #C4C4C4;
		color: #000;
		}

.bottom-table-control .table-functions {
	float: right;
	width: 200px;
	}


/*-- table search --*/

.tablesearch {
	float: left;
	width:320px; /*follow your image's size*/
	height:35px;/*follow your image's size*/
	background-image:url(../../SherpaDeskv2/images/search-field-med.png);
	background-repeat:no-repeat; /*important*/
	padding:0px;
	margin:0px;
	position:relative; /*important*/
	top: 5px;
	}
	
	.tablesearch:hover {
		background-position: 0 -35px;
		}
 
.tablesearch form { display:inline ; }
 
.tablesearch .searchbox {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:1px;
	left:10px;
	width:255px;
	height:33px;
	padding: 0;
	border-radius: 0;
	font: 14px/100% Arial;
	color: #999;
	}

.tablesearch .searchbox_submit {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:1px;
	left:265px;
	width:55px;
	height:33px;
	}

.tablesearch .searchbox_submit:hover {
	border:0px !important; /*important*/
	}
	
.section-divider {
	color: #5b4811;
	background-color: #fff298;
	padding: 5px 0;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 50px;
	height: 25px;
	border-bottom: 1px solid #FFB111;
	}
	.section-divider.withsub {
		margin-bottom: 0;		
		}
	.section-divider h3 {
		font-size: 20px;
		}
		
	.section-divider.top-nav ul {margin-top: -3px;}
	.section-divider.top-nav ul li a:hover, 
	.section-divider.top-nav ul li.active a {
		background-color: #fff8cb;
		color: #555555 !important;
		}
	

/*--------------------- Tech Lander  -------------------------------*/

.checkin-home 
{
    margin-top: 5px;
    min-width: 225px;
    float: left;
    }
.checkin-home h2 
{
    float: left;
    margin: 1px 15px 0 0;
    font-weight: normal;
    }
.time-log 
{
    float: left;
    }
    .time-log img,
    .start-stop img 
    {
        float: left;
        width: 20px;
        margin: 0 5px 0 0;
        }
.add-ticket 
{
    float: right;
    }
.pull-left {float: left;}
.pull-right {float: right;}    
.time-close 
{
    z-index: 99999;
    position: relative;
    right: -860px;
    top: 15px;     
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;   
    }
.time-logger 
{
    color: #5b4811;
    background-color: #fff298;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #c99a1c;
    min-height: 100px;
    width: 960px !important;
    display: none;
    margin: 20px auto 40px;
    }
    .time-logger .grid_12 {margin-bottom: 20px !important;}
    .time-logger h2 
    {
        color: #5b4811;
        margin: 0;
        }
    .time-logger span 
    {
        line-height: 32px;
        margin: 0 10px;
        }
        .time-logger span.time 
        {
            font-weight: bold;
            }
    .time-logger select 
    {
        width: 100%;
        }
    .time-logger .timeclock 
    {
        background-color: #5b4811;
        color: #ffffff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-top: 22px;
        padding: 10px 0;
        }
        .time-logger .timeclock input 
        {
            color: #5b4811;
            }
        .time-logger .timeclock select
        {
            color: #5B4811;
            width: 60px;
            padding: 12px 5px;
            }
        .time-logger .timeclock .start-time 
        {
            margin: 0 5px 0 28px;
            width: 140px;
            float: left;
            }
        .time-logger .timeclock .end-time 
        {
            margin: 0 5px;
            width: 140px;
            float: left;
            }
        .time-logger .timeclock .hours 
        {
            margin: 0 10px 0 15px;
            width: 80px;
            float: left;
            }
        .time-logger .timeclock label {color: #ffffff;}
        .time-logger .timeclock small {font-size:10px;}
             .time-logger .timeclock .time 
             {
                font-size: 18px;
                width: 45px;
                margin-right: 5px;
                float: left;
                }
                .time-logger .timeclock .hours .time 
                {
                    font-size: 24px;
                    width: 60px;
                    padding: 7px 10px;
                    }
        .time-logger .btn-grp 
        {
            overflow: hidden;
            padding: 20px 0;
            }
        .time-logger .start-stop {float: left;}
        .time-logger .add-time {float: right;}




ul.counters 
{
    text-align: center;
    margin: 30px 0 0 0;
    width: 100%;
    min-width: 980px;
    display: table;
    }
ul.counters li 
{
    list-style: none;
    display: table-cell;
    text-align: center;
    padding: 5px 13px 0 3px;
    margin-top: 10px;
    border-right: 1px solid #e4e4e4;
    }
    ul.counters li:first-child {padding-left: 0;}
    ul.counters li:last-child {padding-right: 0; border: none;}
    ul.counters li a span 
    {
        font-size: 14px;
        padding: 5px 0 5px 30px; 
        color: #4b4b4b;
        }
        ul.counters li span.newmessage {background: url(../../SherpaDeskv2/images/newmessages.png) top left no-repeat;}
        ul.counters li span.opentickets {background: url(../../SherpaDeskv2/images/opentickets.png) top left no-repeat;}
        ul.counters li span.openascustomer {background: url(../../SherpaDeskv2/images/opencustomer.png) top left no-repeat;}
        ul.counters li span.onhold {background: url(../../SherpaDeskv2/images/onhold.png) top left no-repeat;}
        ul.counters li span.followupdates {background: url(../../SherpaDeskv2/images/followups.png) top left no-repeat;}
        ul.counters li span.waitingonparts {background: url(../../SherpaDeskv2/images/waiting.png) top left no-repeat;}
        ul.counters li span.unconfirmed {background: url(../../SherpaDeskv2/images/unconfirmed.png) top left no-repeat;}
    ul.counters li h1 
    {
        font-size: 64px;
        line-height: 80px;
                       }  
    ul.counters li a, 
    ul.counters li a:hover 
    {
        text-decoration: none;
        }
   ul.counters li a:hover h1,
   ul.counters li a:hover span 
   {
       color: #058dc7;
       }
    
    .recent-activity 
    {
        margin-top: 20px;
        }

.widgets 
{
    float: left;
    margin-right: 30px;
    margin-top: 40px;
    }

.widgets.todo-widget
{
    width: 700px;
    /* min-width: 696px; */
    }


.widgets table {font-size: 14px;}
.widgets table td:last-child span {float: right; font-size: 14px;}

/*--------------------- Ticket List -----------------------------*/


/*---------------------  Old Section ---------------------*/

.ticket {
	width: 100%;
	min-width: 900px;
	border: 1px solid #dadada;
	margin: 20px 0 20px;
	color: #999999;	
	}	
	.ticket .top {
		border-bottom: 1px solid #dadada;
		min-height: 70px;
		margin: 0;
		overflow: hidden;
		}
		.ticket .top .select {
			float: left;
			width: 30px;
			height: 100%;
			padding: 26px 5px 0;
			text-align: center;
			}
		.ticket .top .status-info {
			float: left;
			width: 110px;
			height: 100%;
			min-height: 70px;
			text-align: center;
			overflow: hidden;
			}			
			.ticket .top .status-info .status {
				margin-top: 2px;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				padding: 5px 0;				
				width: 100%;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px 5px 5px 5px; 				
				}
				
				.ticket .top .status-info .ticket-number {
				text-align: center;
				font-size: 14px;
				padding: 0;
				margin: 6px 0 0;
				color: #000000;
				}
		.ticket .top .ticket-info {
			height: auto;
            margin: 10px 0 0;
            min-width: 550px;
            overflow: hidden;
            padding-left: 20px;
			}
			
			.ticket .top .ticket-info .title {
				float: left;
				font-size: 20px;
				padding: 0;
				margin: 0;
				color: #000000;
				overflow: auto;
				}
			.ticket .top .ticket-info .next a span {
				display: none;
				}
			.ticket .top .ticket-info .next {
				float: left;
				margin: 7px 5px 0 0;
				width: 22px;
				height: 16px;
				background: url(../../SherpaDeskv2/images/next-icon.png) no-repeat 0 0;
				}
			.ticket .top .ticket-info .next:hover {
				background-position: 0 -16px;
				cursor: pointer;
				}
			.ticket .top .ticket-info .next.item {
				background: none;
				font-size: 12px;
				width: auto;
				}
			.ticket .top .ticket-info .summary {
				font-size: 12px;
				}
		.ticket .top .dates {
			float: right;
            font-weight: bolder;
            padding: 5px 15px;
            text-align: center;
            top: 30px;
			}			
			.ticket .top .dates .last-updated {
				font-size: 13px;
				line-height: 14px;
				margin: 10px 0;
				color: #606060;
				}			
			.ticket .top .dates small {
				font-size: 9px;
				font-weight: normal;
				line-height: 8px;
				}
	.ticket .bottom {
		background-color: #ededed;
		height: 30px;
		overflow: hidden;
		}
		.ticket .bottom .detail {
			float: left;
			padding: 3px 15px;
			}
			.ticket .bottom .detail .label {
				text-transform: uppercase;
				font-weight: bolder;
				font-size: 9px;
				line-height: 9px;				
				}
			.ticket .bottom .detail.daytimer {
				float: right;
				}
			.ticket .bottom .detail.priority, .ticket .bottom .detail.level 
			{
			    padding: 3px 5px;
			    text-align: center;
			    }	
			
		.ticket .bottom .detail.read, 
		.ticket .bottom .detail.flag, 
		.ticket .bottom .detail.attach{
			width: 20px;
			height: 20px;
			margin: 5px 3px 0 0;
    		padding: 0;
			}
			
		.ticket .bottom .detail .data {
				font-weight: bold;
				color: #606060;
				font-size: 12px;
				}
			.ticket .bottom .detail.read {
				background: url(../../SherpaDeskv2/images/ticket-icons.png) no-repeat 0 -20px;
				}
			.ticket .bottom .detail.read.active {
				background: url(../../SherpaDeskv2/images/ticket-icons.png) no-repeat 0 0px;
				}
			.ticket .bottom .detail.flag {
				background: url(../../SherpaDeskv2/images/ticket-icons.png) no-repeat -40px -20px;
				}
			.ticket .bottom .detail.flag.active {
				background: url(../../SherpaDeskv2/images/ticket-icons.png) no-repeat -40px 0px;
				}
			.ticket .bottom .detail.attach {
				background: url(../../SherpaDeskv2/images/ticket-icons.png) no-repeat -20px -20px;
				}
			.ticket .bottom .detail.attach.active {
				background: url(../../SherpaDeskv2/images/ticket-icons.png) no-repeat -20px 0px;
				}

.open .status {
	background-color: #ff9f00;
	color: #fff;
	}

.on-hold .status {
	background-color: #4f5970;
	color: #fff;
	}
	
/* --------- Make the text lighter for the whole ticket

.closed, 
.ticket.closed .top .ticket-info .title,
.ticket.closed .bottom .detail .data,
.ticket.closed .bottom .detail.daytimer
 {color: #d4d4d4 !important;} 

*/

.closed .status {
	background-color: #dadbdf;
	color: #fff;
	}
/*---------------------------------- End Old Section ---------------------*/

	
/*---------------------------------- New Ticket List Section ------------------------------*/	
	
.ticket-list table thead th,
.ticket-list table thead th a 
{
    font-weight: bold;
    font-size: 14px;
    background-color: #eeeeee !important;
    color: #222222;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    }
                
.ticket-list tbody 
{
    border-top: none;
    border-bottom: none;
    }
                
.ticket-list tbody tr 
{
    border-top: none;
    border-bottom: none;
    }

.ticket-list table td,
.ticket-list table th 
{
    padding: 8px;    
    }

table.ticket-list-control 
{
    margin: 10px 0 5px 0;
    }
table.ticket-list-control span 
{
    margin-left: 20px;
    }
    
table.ticket-list-control td 
{
    padding: 0;
    }
table.ticket-list-control td a 
{
    font-weight: bold;
    text-decoration: underline;
    }

table.ticket-list input[type='checkbox'] 
{
    margin-top: -3px;
    }

table.ticket-list tr.ticket-list-single-bot td,
table.ticket-list thead tr th
{
    text-align: center;
    }
    
table.ticket-list tr td:first-child,
table.ticket-list thead tr th:first-child 
{
    width: 70px;
    text-align: left;
    }

tr.ticket-list-single-top
{
    font-weight: bold;
    font-size: 15px;
    background-color: #007db3 !important; /* #004174 */
    color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid #006894 !important; /* #003157 */
    border-top: 1px solid #0a89bf !important;
    }

tr.ticket-list-single-top td a
{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    }

table thead th a:hover,
table.ticket-list-control td a:hover, 
tr.ticket-list-single-top td a:hover 
{
    text-decoration: underline;
    }


tr.ticket-list-single-top td.ticket-list-single-title span a
{
    font-weight: normal;
    font-size: 11px;
    margin: 0 0 0 10px;
    padding: 0;
    float: left;
    display: none;
    
    }        
tr.ticket-list-single-top td.ticket-list-single-title a {float: left;}
tr.ticket-list-single-top td.ticket-list-single-title:hover span a 
{
    display: inline;
    }

tr.ticket-list-single-top td 
{
    padding: 4px;
    }
tr.ticket-list-single-bot td 
{
    font-size: 12px;
    background-color: #eeeeee !important;
    padding: 4px;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    }
    
thead.ticket-list-header tr,
tr.ticket-list-single-bot 
{
    border-top: 1px solid #ffffff !important;
    border-bottom: 1px solid #d9d9d9 !important;
    }
    
tr.ticket-list-single-seperator td 
{
    padding: 5px;
    }
	
	
/*---------------------------------- Ticket Detail Page ------------------------------------*/

.ticket-detail
{
    
    }

img.avatar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
}

/*---------- Left side -----------*/    
.ticket-detail-left 
{
    background-color: #ededed;
    color: #222222;
    width: 370px;
    margin: 0 0 50px 0;
    padding: 0;
    float: left;  
    }
    
    .ticket-detail-left div.section	
    {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #d1d1d1;
        padding: 10px;
        margin: 0;
        text-shadow: 1px 1px 1px #ffffff;
        }
        
        .ticket-detail-left div.section a 
        {
            text-decoration: underline;
            }
        .ticket-detail-left div.section span 
        {
            font-weight: bold;
            font-size: 15px;
            margin-left: 5px;
            }
        
        .ticket-detail-left div.section .item {margin: 10px 0;}
        
        .ticket-detail h1,
        .ticket-detail h2,
        .ticket-detail h3,
        .ticket-detail p 
        {
            padding: 0;
            margin: 0;
            }      
        
        .ticket-detail-left div.section .tkt-start-date {font-weight: bold;}
        .ticket-detail-left div.section .tkt-last-date {font-weight: bold;}
        .ticket-detail-left div.section .tkt-last-date small { font-weight: normal;}
        
        .ticket-detail-left div.section .tkt-account,
        .ticket-detail-left div.section .tkt-tech,
        .ticket-detail-left div.section .tkt-priority,
        .ticket-detail-left div.section .tkt-level,
        .ticket-detail-left div.section .tkt-hours,
        .ticket-detail-left div.section .tkt-wrkday-timer  
        {
            width: 170px;
            }
            
        .ticket-detail-left div.section .tkt-priority,
        .ticket-detail-left div.section .tkt-level {margin-bottom: 10px;}
        
        .ticket-detail-left div.section .tkt-hours h2,
        .ticket-detail-left div.section .tkt-wrkday-timer h2 
        {
            font-size: 32px;
            font-weight: bold;
            }
        
        .ticket-detail-left div.section div.tkt-cost h1 
        {
            font-size: 36px;
            }
        .ticket-detail-left div.section div.tkt-cost h1 span 
        {
            font-weight: normal;
            }
      /* temp css to show where to edit sidebar items */      
      .itemEdit  
      {
        padding: 10px;
        background-color: #fff298;
        border: 1px solid #c99a1c;
        text-shadow: 1px 1px 1px #f0e17a;
        margin-top: 8px;
          }
            
        /*--- Section colors ---*/    
        .ticket-detail-left div.section.drkblue 
        {
            color: #ffffff;
            background-color: #004174;
            border-top: 1px solid #1a5b8f;
            border-bottom: 1px solid #083558;
            text-shadow: 1px 1px 1px #083558;
            overflow: hidden;
            }
        .ticket-detail-left div.section.ltblue 
        {
            color: #ffffff;
            background-color: #058dc7;
            border-top: 1px solid #006e9d;
            border-bottom: 1px solid #0184bc;
            text-shadow: 1px 1px 1px #006e9d;
            overflow: hidden;
            }
        .ticket-detail-left div.section.gold 
        {
            background-color: #fff298;
            border-bottom: 1px solid #c99a1c;
            text-shadow: 1px 1px 1px #f0e17a;
            overflow: hidden;
            }
    
/*---------- Tool Tip Hover --------*/

a.tooltip {text-decoration: none !important;}
.tooltip
{
position: relative;
background: #eaeaea;
cursor: help;
display: inline-block;
text-decoration: none;
outline: none;
}

.tooltip span
{
visibility: hidden;
color: #fff;
font-weight: normal;
position: absolute;
top: -8px;
left: 60px;
z-index: 999;
width: 200px;
/* margin-left: -127px; */
padding: 10px;
opacity: .9;
background-color: #454545;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
text-shadow: 1px 1px 0px #000000;
}

.tooltip:hover
{
border: 0; /* IE6 fix */
}

.tooltip:hover span
{
visibility: visible;
}


.tooltip span:after
{
content: "";
position: absolute;
z-index: 1000;
top: 8px;
left: 0;
margin-left: -8px;
width: 0; 
height: 0; 
border-top: 8px solid transparent;
border-bottom: 8px solid transparent; 
border-right:8px solid #454545;

}



/*---------- Right side -----------*/       
.ticket-detail-right
{
    margin-left: 380px;
    padding:0;
    min-height: 100px;       
    }

.tkt-navbar 
{
    color: #ffffff;
    background-color: #004174;
    border-top: 1px solid #1a5b8f;
    border-bottom: 1px solid #083558;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    }
    .tkt-navbar ul li a 
    {
        color: #ffffff;
        padding: 5px 8px;
        margin: 0 5px 0 0;
        text-decoration: none !important;
        font-weight: bold;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px 5px 5px 5px;
        }
    .tkt-navbar ul li a:hover, .tkt-navbar ul li.active a 
    {
        background-color: #0e90d2;
        color: #ffffff !important;
        }
        
    .tkt-navbar ul
    {
        padding: 8px 0;
        margin-left: 15px;
        width: 97%;
        }
        .tkt-navbar ul li 
        {
            display: inline;
            float: left;
            margin: 0;
            padding: 0; 
            }
        .tkt-navbar ul li.tkt-delete,
        .tkt-navbar ul li.tkt-print 
        {
            float: right;
            margin: -2px 0 -6px 15px;
            }

.tkt-action 
{
    overflow: hidden;
    margin: 15px 15px 0 0;
    }
    .tkt-action .buttons 
    {
        float: right;
        }
    
.tkt-initial-post 
{
    background-color: #f7f7f7;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding: 15px;
    margin: 15px 0 20px 0;
    overflow: hidden;
    }
    
    .tkt-initial-post .avatar 
    {
        float: left;
        }
    
    .tkt-initial-post .post 
    {
        margin-left: 70px;
        }
    .tkt-initial-post .post p small {font-size: 11px;}
    
    p.pill 
    {
        line-height: 1em;
        float: left;
        padding: 3px 8px;
        margin: 5px 0 0 0 !important;
        }
    
    p span.pill 
    {
        line-height: 1em;
        padding: 3px 8px;
        margin: 0 !important;
        }
        
    .tkt-initial-post p.tkt-post-txt 
    {
        font-size: 1.1em;
        margin: 15px 0;
        }
        
         

/* ----   Comments   ---- */

.articles-responses {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
    margin: 40px 0;
    padding: 20px 0;
	}
ol.commentlist  {
	color: #555555;
    font-size: 13px;
    line-height: 20px;
    margin: 10px 0 25px 10px;
	list-style: none outside none;
	padding: 0;
	}


.tkt-responses {
    margin-top: 20px;
}
.tkt-responses .comments_wrap {
    margin: 20px 0;
    padding: 0;
	/* width: 650px; */
    position: relative;
}
.tkt-responses ol.commentlist li {
    background: none repeat scroll 0 0 transparent;
    list-style-type: none !important;
    padding: 0;
    position: relative;
}
.tkt-responses ol.commentlist li ul {
	padding: 0 0 0 20px;
	}

.tkt-responses .gravatar {
    background: url(images/bg-comment-tip.png) no-repeat scroll right 16px transparent;	
	left: 0;
    padding-right: 18px;
    position: absolute;
    top: 5px;
    z-index: 999;
}
    .tkt-responses .gravatar span 
    {
        position: absolute;
        right: 16px;
        top: -7px;
        }
    .tkt-responses .gravatar p
    {
        text-align: center;
        margin: -6px 0 0 -3px;
        padding: 0;
        font-size: 11px;
        }
            
.tkt-responses .gravatar.withvoting 
{
    left: 50px !important;
    }
.tkt-responses img.avatar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
}
    .tkt-responses img.avatar.technician 
    {
        background-color: #fbe499;
        border-color: #fcb315;
        }
.tkt-responses .comment-content {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E2E2E2;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
    margin-left: 65px;
    padding: 15px;
    position: relative;
}

.tkt-responses .name {
    font-weight: bold;
    margin: 0 0 10px;
}
.tkt-responses ol.commentlist .name a {
    font-size: 16px;
    text-decoration: none;
	color: #000;
}
.tkt-responses ol.commentlist .user-meta {
    color: #666666;
    font: italic 11px arial, sans-serif;
    margin-bottom: 12px;
    position: absolute;
    right: 15px;
    top: 20px;
}
.tkt-responses ol.commentlist .comment-entry {
    font-size: 13px;
}

.tkt-responses .best-answer 
{
    background: url(images/green-check.png) no-repeat scroll left 6px transparent;
    padding: 12px 0 5px 35px;
    color: #92C74F;
    font-weight: bolder;
    font-size: 18px;
    }
    

/*---------------------------------- Account/Project Details Pages ------------------------------*/

.accounts 
{
	margin-bottom: 50px;
	}
	.accounts .breadcrumbs ul {
		margin-top: 10px;
		}
	.accounts .breadcrumbs ul li {
		display: inline;
		}
	.accounts .breadcrumbs ul li:last-child {
		font-weight: bold;
		}
	.accounts .account-name {
		float: left;
		width: 100%;
		}
		.accounts .account-name h2 {
			font-size: 30px;
			margin: 10px 0;
			float: left;
			}
		.accounts .account-name ul{
			display: inline;
    		float: left;
    		margin: 25px 0 0 20px;			
			}
	.accounts .account-info {
		margin-top: 20px;
		}
		.accounts .account-info p {margin: 5px 0 0; padding: 0; font-size: 14px;}
		.accounts .account-info small {font-size: 11px;}
		.accounts .account-info h2 {margin:0 0 5px 0; padding: 0; font-size: 24px;}	
	
	.accounts .ticket-counts {		
		float: right;
		max-width: 940px;
		max-width: 650px !important;
		}
		.accounts .ticket-counts .count-section {
			padding: 0;
			margin: 0;
			min-width: 24%;
			float: left;
			}
		.accounts .ticket-counts .count-section .title h3 {
			color: #96CCF2;
			font-size: 18px;
			text-align: center;
			margin: 0;
			}
		.accounts .ticket-counts .count-section .ticket-number h1 {
			color: #fff;
			font-size: 80px;
			text-align: center;
			margin: 0;
			line-height: 1em;
			}
	.accounts .account-fields {
		width: 100%;
		background-color: #F0F0F0;
		min-height: 50px;
		margin: 30px 0 0;
		padding: 20px 0; 
		overflow: hidden;
		}
		.accounts .account-fields table {
			width: auto;
			}
		.accounts .account-fields table tr td {
			font-size: 12px;
			color: #666666;			
			}
			.accounts .account-fields table tr td strong {
				font-size: 14px;
				color: #000;
				padding-left: 12px; 
				}
		.accounts .account-fields table tbody, 
		.accounts .account-fields table tr {
			background: none;
			border: none;
			}
		.accounts .account-fields table td, 
		.accounts .account-fields table th {
			padding: 5px 40px 5px 15px;
			}
		
		.accounts .account-fields .account-field{
			margin-right: 10px;
			padding: 0;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px 5px 5px 5px;
			border: 1px solid #105387; 
			width: auto;
			float: left;
			background-color: #fff;
			margin-bottom: 20px;
			}
			.accounts .account-fields .account-field .af-top {
				background-color: #105387;
				color: #fff;
				font-size: 12px;
				padding: 5px;
				text-align: center;
				}
			.accounts .account-fields .account-field .af-bottom {
				color: #000;
				font-size: 14px;
				color: #000;
				text-align: center;
				padding: 10px;
				font-weight: bold;
				}
		
/*------------ Project Details  ----------------*/

	.project-progress {margin: 20px 0 50px;}
	    .project-progress.estimates {margin-top:10px;}
	    .project-progress h3
	    {
	        float: left;
	        font-size: 25px;
	        margin: 10px 0 0;
	        }
	    .project-progress h2
	    {
	        float:right;
	        font-size: 38px;
	        margin: 0;
	        }
	.project-estimates {margin-bottom: 20px;}
	.project-estimates h3 {margin: 0;}
	.blue-well.projectdet 
	{
	    margin-top: 125px;
	    }
	.project-details
	{
	    width:100%;
	    text-align: right;
	    margin: -10px 0;
	    }
	.project-details .count-section {
		padding: 0;
		margin: 20px 10px;
		}
	.project-details .count-section .title h3 {
		color: #96CCF2;
		font-size: 18px;
		margin: 0 0 -5px;
		}
		.project-details .count-section .title-bottom h3 {
		color: #ffffff;
		font-size: 18px;
		margin: -5px 0 0;
		}
	.project-details .count-section .ticket-number h1 {
		color: #fff;
		font-size: 80px;
		margin: 0;
		line-height: 76px;
		}
    .project-details-details, .project-details-budget {margin-top: 20px; margin-bottom: 20px;}
    .project-details-budget table td,
    .project-details-budget table th,
    .project-details-details table td,
    .project-details-details table th {text-align: center;} 
    .project-details-details table td span,
    .project-details-budget table td span {font-weight: bold; font-size: 16px;}    

/*------------------------------------- Config Pages -------------------------------------*/



/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -9999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




