table 
{
    width: 100%;
    border-collapse: collapse;
    }
                
table thead th 
{
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    }
                
tbody 
{
    border-bottom: 1px solid #ddd;
    }
                
tbody tr 
{
    background: #fff;
    }

tbody tr:hover,  tbody tr.even-row:hover
{
    background: #cbffcf;
    } 
              
tbody tr.even-row 
{
    background: #f3f3f3;
    }
                
table td,
table th 
{
    padding: 10px;
    line-height: 1.3em;
    }    
    

.editable 
{
    }

.edit-row 
{
    padding-left: 30px;
    } 
    
.showDragHandle:hover
{
    background: #cbffcf url('../../grids/img/move.png') 5px 11px no-repeat;
    cursor: move;
    } 
    

				
 