	.form p, .form-top p {
		margin-bottom: 0;
		}
		
	.login-wrapper {
		width: 960px;
		margin: 0 auto;
		padding: 0;
		font-family: "Arial", Gadget, sans-serif;
		color: #333333;
		}
		.login-wrapper input
        { 
	        padding: 12px;        
	        font: normal 16px/100% Verdana, Tahoma, sans-serif;
	        }
	    .login-wrapper label.labelleft
	    {
	        padding-top: 12px;
	        }
	.form {
		display: block;
		margin: 0 auto;		
		}
		
	.form-top {
		display: block;
		margin: 0 auto;
		width: 500px;
		}
		
	.formwrap {
		max-width: 800px;
		margin: 10px auto 50px;
		overflow: hidden;
		padding: 30px 0 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

#logo {
	width: 800px;
	margin: 50px auto 0;
	text-align: center;	
	}

.login-button {
	margin-left: 290px;
	width: 38% !important;
	}
	.login-button p{
		line-height: 55px;
		vertical-align: middle;		
		}

