/*-- Reset Medium width for signup form --*/
.formwrap p input.text-input {
    width: 350px !important;
}

	.form p, .form-top p {
		margin-bottom: 0;
		}
		
	.login-wrapper {
		width: 960px;
		margin: 0 auto;
		padding: 0;
		font-family: "Arial", Gadget, sans-serif;
		color: #333333;
		}


		
	.formwrap {
		max-width: 800px;
		margin: 10px auto 50px;
		overflow: hidden;
		padding: 30px 0 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

#logo {
	width: 800px;
	margin: 50px auto 0;
	text-align: center;	
	}
		
.shadow {
	-webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .08);
	-moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .08);
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .08); 
	}

.portalwrap {
	background-color: #e9eff5;
	padding: 10px 20px 10px 15px;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	float: left;
	width: 340px;
	}
.portal-input 
{
    width: 150px;
    }
.portal {
	margin-top: 10px;
	}

.portal-message 
{
    margin-left: 290px;
    }


.signup-page-button {
	margin-left: 270px;
	margin-top: 40px;
	}
	.signup-page-button p{
		line-height: 55px;
		vertical-align: middle;
		}


form .labelleft, form .labelleftdesc 
{
    width: 255px;
    }



/*----------------------------------------------------------------------*/

.login-from-here{
	text-align: center;
	position: relative;
	bottom: 0;
	height:100px;
	}

.login-from-here img {
    vertical-align: middle;
    padding: 20px 25px 0 0;
    }
.login-from-here a img {
    border: none;
    }