.startupwrapper
{
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ebebeb;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;
    max-width: 800px;
    margin: 0 auto;
    }

.startup 
{
    border: 1px solid #7daac8;
    background: #3C8FB2 url('../../startup/img/Mountain_File.png') no-repeat bottom center;
    min-height: 50px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    padding: 10px;
    overflow: hidden; 
    max-width: 800px;
    margin: 0 0 40px;   
    }

#startup-bottom 
{
    padding:0 20px 20px;
    }

.startup p
{
    text-align: center;
    font-size: 1.2em;
    }

.startup h1 
{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 3.5em;
    }

.startupstep 
{
    background-color: #f6f6f6;
    border: 1px solid #d9d9d9;
    color: #1D7093;
    float: left;
    margin: 10px;
    min-height: 20px;
    padding: 10px;
    width: 27.9%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    }

.startupstep ul li 
{
    background-color: #eaeaea;
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 15px;
    }
    
.startupstep h3 
{
    text-align: center;
    }