<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ticket Detail</title>
</head>
<body>
    <div class="main-stage">
        <div class="tkt-action">
	            <a class="buttons info" href="#">Close Ticket</a>
	        </div>        

            <!-- Initial Post -->
            <div class="tkt-initial-post">
            
                <!---- Gravatar ---->
                <img class="avatar" src="../../Portalv1/img/gravatar.png" width="40" height="40" />	

                <div class="post">
                    <h1>Page Help clean up</h1>
                    <p><small>Ben Pfohl <span>6/26/2012 03:11PM (UTC-5)</span></small></p>
                    <p class="pill gray">Initial Post</p>
                    <div class="clearfix"></div>
                    <p class="tkt-post-txt">Houston, that may have seemed like a very long final phase. The autotargeting was taking us right into a ... crater, with a large number of big boulders and rocks ... and it required ... flying manually over the rock field to find a reasonably good area.</p>
                </div>
            
            </div>

            <div class="tkt-add-response">
                <img src="../images/control-temp.png" />
            </div>

            <div class="tkt-responses">
			    <div class="comments_wrap">
				    <ol class="commentlist">
				    <li>
					    <div class="gravatar">
						    <img class="avatar" src="../images/gravatar.png" width="40" height="40">
					    </div>
					    <div class="comment-content">
						    <span class="name">
							    <a class="url url" rel="external nofollow" href="#">Fred</a>
						    </span>
						    <div class="user-meta">
							    15 December 2011 at 5:15 pm
						    </div>
						    <div id="comment-00001" class="comment-entry">
						        <p>Your support team has been incredible, truly… only a handful of others can come close to your speedy quality support. 
						        Pat especially has been invaluable to me, assisting with trouble-shooting. I really can not thank you guys enough!!! 
						        To the entire team &mdash;</p>						                
						    </div>
					    </div>
				    </li>					            
				    <li>
					    <div class="gravatar">
                            <span><img src="../images/check-icon.png" /></span>
						    <img class="avatar technician" src="../images/gravatar.png" width="40" height="40">
                            <p>Technician</p>
					    </div>
					    <div class="comment-content">
						    <span class="name">
							    <a class="url url" rel="external nofollow" href="#">Fred</a>
						    </span>
						    <div class="user-meta">
							    15 December 2011 at 5:15 pm
						    </div>
						    <div id="comment-00002" class="comment-entry">
							    <p>Your support team has been incredible, truly… only a handful of others can come close to your speedy quality support. 
							    Pat especially has been invaluable to me, assisting with trouble-shooting. I really can not thank you guys enough!!! 
							    To the entire team &mdash;</p>								        
						    </div>
					    </div>
				    </li>
				    <li>
					    <div class="gravatar">
						    <img class="avatar" src="../images/gravatar.png" width="40" height="40">
					    </div>
					    <div class="comment-content">
						    <span class="name">
							    <a class="url url" rel="external nofollow" href="#response">Fred</a>
						    </span>
						    <div class="user-meta">
							    15 December 2011 at 5:15 pm
						    </div>
						    <div id="comment-00003" class="comment-entry">
							    <p>Your support team has been incredible, truly… only a handful of others can come close to your speedy quality support. 
							    </p>
						    </div>
					    </div>
				    </li>	            
						    
				    </ol>
			    </div>
        
            </div>
    </div>
</body>
</html>
