BODY{MARGIN-TOP: 0px;MARGIN-BOTTOM: 0px;MARGIN-LEFT: 0px;MARGIN-RIGHT: 0px;FONT-SIZE: 8pt;FONT-FAMILY: 'Arial', 'Helvetica';}
/* Styles from style_custom.asp */
/* ---  A{COLOR:#000000;TEXT-DECORATION:underline; FONT-FAMILY: 'Arial', 'Helvetica';font-weight:normal;} --- */
/* A:hover{COLOR:#EE7600;font-weight:normal;} */
A.text60:hover{font-size: 13pt;}
A.HoverWhite:hover{COLOR:White;font-weight:normal;}
.TpMn{color:#FFFFFF;text-decoration:none;font-weight:bold;}
A.TpMn:hover{color:#FFFFFF;font-weight:bold;text-decoration:underline;}
.TpMnAlt{color:#FFFFFF;text-decoration:none;font-weight:bold;}
A.TpMnAlt:hover{color:#FFFFFF;font-weight:bold;text-decoration:none;}
.TpMnItm{BACKGROUND-COLOR:#CC0000;}
.TpMnItmAlt{BACKGROUND-COLOR:#333333}
.SubMnUsr{color:#FFFFFF;text-decoration:underline;font-weight:bold;}
A.SubMnUsr:hover{color:#FFFFFF;font-weight:bold;text-decoration:none;}
.SubMnUsrAll{color:#FFFFFF;font-weight:bold;}
/* End Of styles from style_custom.asp */
.PrintableBody{MARGIN-TOP: 0px;MARGIN-BOTTOM: 0px;MARGIN-LEFT: 0px;MARGIN-RIGHT: 0px;FONT-SIZE: 100%;FONT-FAMILY: 'Arial', 'Helvetica';}
.PrintableBody TABLE{FONT-SIZE: 100%;FONT-FAMILY: 'Arial', 'Helvetica';}
.PrintableBody TD{FONT-SIZE: 70%;FONT-FAMILY: 'Arial', 'Helvetica';}
.Delete{COLOR:#CC0000;}
A.Delete:hover{COLOR:#CC0000;}
.LargeLink{FONT-SIZE:10pt;}
A.LargeLink:hover{FONT-SIZE:10pt;}
.LargeLink2{FONT-SIZE:medium;}
A.LargeLink2:hover{FONT-SIZE:medium;}
.LargeLink12{FONT-SIZE:12pt;}
A.LargeLink12:hover{FONT-SIZE:12pt;}
.LargestBoldLink{FONT-SIZE:11pt;font-weight:bold;}
A.LargestBoldLink:hover{FONT-SIZE:11pt;font-weight:bold;}
.TicketDetailMenu{COLOR: #CCCCCC;TEXT-DECORATION:none;}
A.TicketDetailMenu:hover{COLOR: #CCCCCC;}
.TicketDetailMenuAlt{COLOR: #ffffff;FONT-WEIGHT: bold;text-decoration:underline;}
A.TicketDetailMenuAlt:hover{COLOR: #ffffff;FONT-WEIGHT:bold;text-decoration:underline;}
.SmallLink{FONT-SIZE:small;}
A.SmallLink:hover{FONT-SIZE:small;}
TABLE{FONT-SIZE: 10pt;FONT-FAMILY: 'Arial', 'Helvetica';}
TD{FONT-SIZE: 10pt;FONT-FAMILY: 'Arial', 'Helvetica';}
FORM{FONT-SIZE: 10pt;FONT-FAMILY: 'Arial', 'Helvetica';}
INPUT{FONT-SIZE: 10pt;FONT-FAMILY: 'Arial', 'Helvetica';}
SELECT{FONT-SIZE: 10pt;FONT-FAMILY: 'Arial', 'Helvetica';}
SELECT.slct1{font-size: 10pt;}
.smallfontreverse{font-weight:bold; color: #ffffff;background-color: #3d3d8d;TEXT-ALIGN: center;}
.smallfontreverse2{font-weight:bold; color: #ffffff;background-color: #333333;TEXT-ALIGN: center;}
.header3{FONT-WEIGHT: bold; BACKGROUND-COLOR: gray; COLOR: #ffffff;}
.input1{WIDTH: 150px;}
.input2{WIDTH: 200px;}
.input3{WIDTH: 250px;}
.input4{WIDTH: 350px;}
.input5{WIDTH: 600px; font-size: 12pt;}
.input6{width: 300px; font-size:12pt;padding: 3px 3px !important;}
.input7{WIDTH: 256px;}
.text10{FONT-SIZE: 8pt;FONT-WEIGHT: bold;TEXT-ALIGN: center;COLOR: #333333;}
.text11{FONT-SIZE: 10pt;COLOR: #990000;FONT-WEIGHT: bold;}
.text12{CURSOR: hand;}
.text13{FONT-SIZE: 11pt;COLOR: #CC0000; font-weight: bold;}
.text14{COLOR: #CC0000;}
.ErrorMessage{COLOR: #CC0000;}
.text15{BACKGROUND-COLOR: #F0F0F0;TEXT-ALIGN: right;PADDING-RIGHT: 5px;}
.text16{COLOR: gray;}
.text17{FONT-SIZE: 11pt;FONT-WEIGHT: bold;COLOR: #ff9900; /*Orange*/}
.text18{FONT-SIZE: 10pt;COLOR: #333333; }
.text19{FONT-SIZE: 10pt;COLOR: #333333; FONT-WEIGHT: bold;}
.text20{BACKGROUND-COLOR: #EEE8AA; /*Tan*/FONT-SIZE: 9pt;FONT-WEIGHT: bold;COLOR: #333333; /*Charcoal*/}
.text21{TEXT-ALIGN: right;PADDING-RIGHT: 5px;COLOR: #990000; /*Deep Red*/}
.text22{BACKGROUND-COLOR: lightgrey; FONT-WEIGHT: bold; TEXT-ALIGN: center;}
.text23{FONT-SIZE: 8pt; COLOR: gray; TEXT-ALIGN: right; PADDING-RIGHT: 3px;}
.text24{BACKGROUND-COLOR: #FFE47C;}
.text25{BACKGROUND-COLOR: #990000; font-weight: bold; color: #ffffff;}
.text26{BACKGROUND-COLOR: #FFCC66; TEXT-ALIGN: right;}
.text27{BACKGROUND-COLOR: #FFFFCC;}
.text28{BACKGROUND-COLOR: #CCCCCC; font-weight: bold;} /*light gray*/
.text29{BACKGROUND-COLOR: #EEE8AA; TEXT-ALIGN: right;}
.text30{BACKGROUND-COLOR: #EEE8AA; font-weight: bold; font-size: 12pt; text-align: center;}
.text31{FONT-SIZE:9pt;}
.text32{FONT-SIZE:10pt;}
.text33{FONT-SIZE:11pt;}
a.text33:hover{FONT-SIZE:11pt;}
.text34{FONT-SIZE:8pt;FONT-WEIGHT:bold;}
.text35{FONT-SIZE:9pt;FONT-WEIGHT:bold;}
.text36{FONT-SIZE:10pt;FONT-WEIGHT:bold;}
.text37{FONT-SIZE:11pt;FONT-WEIGHT:bold;}
.text38{FONT-SIZE:7pt;}
.text39{FONT-SIZE:7pt;COLOR:#808080;}
.text40{BACKGROUND-COLOR: #f4f4f4;}
.text41{FONT-SIZE: 10pt;COLOR: #CC0000;}
.text42{BACKGROUND-COLOR: #CCCCCC; font-weight: bold; font-size: 9pt;}
.text43{BACKGROUND-COLOR: #990000; font-weight: bold; color: #ffffff; font-size: 10pt;}
.text44{Padding: 2px 10px 2px 10px; background-color: #333333; color: #ffffff; font-size: 10pt; font-weight: bold;}
.text45{padding: 2px 20px 2px 5px; background-color: #FFFFFF; border-bottom: black 1px solid;}
.text45Alt{padding: 2px 20px 2px 5px; background-color: #F5F5F5; border-bottom: black 1px solid;}
.text46{padding: 2px 20px 2px 5px; background-color: #990000; color: #ffffff; }
.text47{padding: 1px 10px 1px 3px; border-top: black 1px solid;}
.text48{padding: 1px 5px 1px 5px;}
.text49{background-color: #ff0000; color: #ffffff;}
.text50{background-color: #00cc00;}
.text51{background-color: #CCCCCC;}
.text52{background-color: #FFF0E1;}
.text54{background-color: #EEEEEE; font-weight: bold;}
.text55{font-size: 16pt; font-weight:bold;}
.text56{FONT-SIZE:8pt;FONT-WEIGHT:bold; color: Green; padding-left: 4px;}
.text57{font-size: 12pt; }
.text58{font-size: 12pt; FONT-WEIGHT:bold;}
.text59{font-size: 18pt; FONT-WEIGHT:bold;}
.text60{font-size: 13pt;}
.text61{font-size: 15pt; font-weight: bold;}
.text62{font-size: 15pt; font-weight: bold; color: Green;}
.text63{font-size: 15pt; font-weight: bold; color: Red;}
.text64{font-size: 12pt; font-weight: bold; color: #3C357A;}
.text65{font-size: 9pt; font-weight: bold; color: Red;}
.text66{font-size: 28pt; FONT-WEIGHT:bold;}
.text67{FONT-SIZE: 12pt; COLOR: gray; FONT-WEIGHT:bold;}
.text68{FONT-SIZE: 11pt; height: 22px;}
.text69{FONT-SIZE: 10pt; height: 22px;}
.text70{FONT-SIZE: 9pt;FONT-WEIGHT: normal;}
.text71{font-weight:bold; font-size:larger;}
.text72{FONT-SIZE: 12pt;COLOR: #990000; /*Deep Red*/FONT-WEIGHT: bold;}
.text73{border-bottom: solid 1px LightGray; font-family: Calibri, Arial; font-size: large;}
.text74{font-size: 12pt; text-decoration:underline;}
/*New .Net CSS*/
.MainBody{PADDING-TOP:5px;PADDING-LEFT:10px;PADDING-RIGHT:10px;}
/*Std Tables*/
.tblSubHead1{BACKGROUND-COLOR: #333333; color: #FFFFFF; font-weight: bold;PADDING-LEFT:10px;PADDING-RIGHT:10px;padding-top:5px;}
.tblSubHead2{BACKGROUND-COLOR: #66669A; color: #FFFFFF; font-weight: bold;}
.tblSubHead3{font-weight: bold; color: #FFFFFF; background-color: #6364FD;}
.tblHeadTxt {FONT-SIZE:10pt;color:#990000;FONT-WEIGHT:bold;}
.tblHeadTxt1{FONT-SIZE:10pt;color:#66669A;FONT-WEIGHT:bold;}
.tblHeadTxt2{FONT-SIZE:10pt;color:#3F8640;FONT-WEIGHT:bold;}
.tblHeadTxt3{FONT-SIZE:10pt;color:#9E755F;FONT-WEIGHT:bold;}
.tblHeadTxt4{FONT-SIZE:10pt;color:#DF572D;FONT-WEIGHT:bold;}
.tblHeadTxt5{FONT-SIZE:10pt;color:#5A8282;FONT-WEIGHT:bold;}
/*Std Form*/
.RowCap {BACKGROUND-COLOR: White;}
.RowElem {BACKGROUND-COLOR: White;}
.RowElemBig {BACKGROUND-COLOR: White; font-size:larger}
.RowElemErr {BACKGROUND-COLOR: #CC0000;}
.RowHelp {BACKGROUND-COLOR: White;}
.RowInfo {BACKGROUND-COLOR: #F4F4F4;}
.RowBill {text-align: right;font-size:larger; color: Gray; font-size: 10pt;}
.InactiveTreeNode{color: Red;}
.InactiveTreeNodeOver{color: Red;text-decoration: underline;cursor: pointer;cursor: hand;}
.InactiveTreeNodeSelect{color: white;background: Red;cursor: pointer;cursor: hand;margin-left: 3px;}
A.GrayLink:link {color: Gray; }
A.GrayLink:visited {color: Gray; }
A.GrayLink:active {color: Gray; }
A.GrayLink:hover {color: #FFA500;}
option.option_highlight {
background-color: #ff9;
font-weight: bold;
}
TD.DuplicateAsset{font-weight: bold; color: Red;}
.padding1unit
{
padding: 0px 0px 0px 2px !important;
}
.TimeInput_Label {
font-size: small;
color: #7E5E1F;
text-align: right;
}
.TimeInput_LabelSmall {
font-size: 9pt;
color: #7E5E1F;
text-align: right;
}
.TimeInput_LabelSmall1 {
font-size: 9pt;
color: #7E5E1F;
text-align: left;
}
.TimeInput_LabelSmaller {
font-size: 8pt;
color: #7E5E1F;
font-weight: bold;
}
.TimeInput_Cancel {
color: #000099;
font-size:10pt;
}
A.TimeInput_Cancel:hover{font-size:10pt;}
.TimeInput_input {
font-size: 14pt;
font-weight: bold;
padding: 5px;
width: 90px;
}
@media print {
.printnextpage {
page-break-before: always;
}
}
.assetsDropdownColumn { float: left; width: 50px; padding: 0 0 5px 5px; overflow:hidden; white-space:nowrap;}
A.NonUnderlineLink:link {text-decoration:none; }
A.NonUnderlineLink:visited {text-decoration:none; }
A.NonUnderlineLink:active {text-decoration:none; }
A.NonUnderlineLink:hover {text-decoration: underline;}
.worklist {border-style:none; width:100%; background-color: #F4F4F4}
.worklist TR.line2 TD {text-align: left}
.worklist TD {text-align:center}
.worklist TD.subj {font-size: 120%}
.worklist TR.open, .worklist TR.closed, .worklist TR.my {height:25px; cursor:hand}
.worklist TR.separator {background-color: #ffffff; height:10px}
.worklist TR.my {background-color: #FFDA47}
.worklist TR.open {background-color: #FFDA47}
.worklist TR.closed {background-color: #CCCCCC}
.worklist TD.unconfirmed {background-color: Yellow}
.worklist .tktNumber {font-weight:bold}
.worklist SPAN{FONT-SIZE: 10pt;}
A.tktNumber:hover{color:Gray}
IMG.s1015, IMG.s1510, IMG.s1515 { border-width: 0px}
IMG.s1015 {width: 10px; height:15px}
IMG.s1510 {width: 15px; height:10px}
IMG.s1515 {width: 15px; height:15px}
A.DisableLink:link {color: Gray; text-decoration: none;}
A.DisableLink:visited {color: Gray; text-decoration: none;}
A.DisableLink:active {color: Gray; text-decoration: none;}
A.DisableLink:hover {color: Gray; text-decoration: none; cursor: text;}
A.Link18ptWithoutUnderline:link {font-size: 18pt; FONT-WEIGHT:bold; text-decoration: none;}
A.Link18ptWithoutUnderline:visited {font-size: 18pt; FONT-WEIGHT:bold; text-decoration: none;}
A.Link18ptWithoutUnderline:active {font-size: 18pt; FONT-WEIGHT:bold; text-decoration: none;}
A.Link18ptWithoutUnderline:hover {font-size: 18pt; FONT-WEIGHT:bold; text-decoration: none;}
A.Link18pt:link {font-size: 18pt; FONT-WEIGHT:bold;}
A.Link18pt:visited {font-size: 18pt; FONT-WEIGHT:bold;}
A.Link18pt:active {font-size: 18pt; FONT-WEIGHT:bold;}
A.Link18pt:hover {font-size: 18pt; FONT-WEIGHT:bold;}
A.LinkBlue14pt:link {font-size: 14pt; color: #5788D4;}
A.LinkBlue14pt:visited {font-size: 14pt; color: #5788D4;}
A.LinkBlue14pt:active {font-size: 14pt; color: #5788D4;}
A.LinkBlue14pt:hover {font-size: 14pt;}
A.Link10ptWithoutUnderline:link {font-size: 12pt; color: #5788D4;}
A.Link10ptWithoutUnderline:visited {font-size: 12pt; color: #5788D4;}
A.Link10ptWithoutUnderline:active {font-size: 12pt; color: #5788D4;}
A.Link10ptWithoutUnderline:hover {font-size: 12pt;}
A.Link12pt:link {font-size: 12pt; color: Black;}
A.Link12pt:visited {font-size: 12pt; color: Black;}
A.Link12pt:active {font-size: 12pt; color: Black;}
A.Link12pt:hover {font-size: 12pt; color: Black;}
TD.SubControlFieldRow {padding: 5px 12px 5px 12px; border-bottom: solid 1px #DEDDED; border-top: solid 1px #DEDDED;}
.SubControlLinkLeft {background-color: #F2F2F2; padding: 10px 20px 10px 20px;}
.SubControlLinkRight {color: #333333; background-color: #F8F8F8; padding: 10px 25px 10px 10px; font-size: 11px;}
.ConfigMenu_GroupRow {font-size: 12pt; font-weight: bold; background-color: #FFF6E5; border-bottom: solid 2px #FFDE9C;}
.ConfigMenu_SectionRow {border-top: solid 1px #FFE9B0; border-bottom: solid 1px #FFE9B0; padding-top: 7px; padding-bottom: 7px;}
.ConfigMenu_GroupRowBottom {height: 15px; padding: 0px 0px 0px 0px;}
.ConfigMenu_GroupRowTop {height: 15px; padding: 0px 0px 0px 0px;}
.ConfigMenu_FeatureText {font-size: 9pt; padding-top: 3px;}
.BWD_FolderTreeView { margin: -2px -19px -2px -6px; }
/* fix for date/time rad pickers if wrong doctype*/
.RadPicker_Default table.rcTable .rcInputCell
{
padding:0px 0px 0px 0px !important;
}
.RadPicker_Default table.rcTable .rcInputCell input.riTextBox
{
behavior:url(/DatePickerFix.htc) !important;
}
.RepDataCell
{
border-top:1px solid #E5E5E5;
vertical-align:top;
}
.RepTotalDataCell
{
border-bottom:1px solid #919191;
border-top:1px solid #919191;
}
.CalendarCell
{
text-align:left !important;
vertical-align: top !important;
width: 60px;
height: 44px;
}
.BWD_CalendarHeader
{
text-align: center !important;
}
.BWD_CalendarCellHeader
{
height: 20px;
background-color: #EEEEEE;
text-align:left !important;
padding-left:3px !important;
}
.BWD_CalendarCellTime
{
height: 20px;
font-weight: bold;
padding-right:3px !important;
}
.BWD_TotalWeekTime
{
font-size: 9pt;
font-weight: bold;
text-align: left;
}
.BWD_CalendarTitle
{
font-weight: bold !important;
color: White;
height: 35px;
}
.BWD_DateRangeInput
{
padding: 5px 0 5px 4px !important;
font-weight:bold !important;
font-family:tahoma,arial,sans-serif !important;
border:1px solid LightBlue !important;
width: 125px !important;
}
A.BWD_SelectLinkButton:link {font-size: 10pt; color: #0000ff;}
A.BWD_SelectLinkButton:visited {font-size: 10pt;}
A.BWD_SelectLinkButton:active {font-size: 10pt; color: #0000ff;}
A.BWD_SelectLinkButton:hover {font-size: 10pt;}
A.BWD_LinkButton:link {font-size: 11pt;font-weight: bold;}
A.BWD_LinkButton:visited {font-size: 11pt;font-weight: bold;}
A.BWD_LinkButton:active {font-size: 11pt;font-weight: bold;}
A.BWD_LinkButton:hover {font-size: 11pt;font-weight: bold;}
A.BWD_LinkButton1:link {font-size: 12pt; color: #0000ff;}
A.BWD_LinkButton1:visited {font-size: 12pt;}
A.BWD_LinkButton1:active {font-size: 12pt; color: #0000ff;}
A.BWD_LinkButton1:hover {font-size: 12pt;}
/* Overrides Micajah Common styles */
div.Mp_Mm { background-color: #db6d00 !important; }
div.Mp_La, div.Mp_L { background-color: #f5f8ff!important; }
div.Mp_La { border-right: 1px solid #bce7ff; }
div.Mp_Ftr { border-top: 1px solid #bce7ff; background-color: #f5f8ff; }
input.small {padding: 2px 3px 2px 3px; font-size: 8pt;font-weight: bold; color:#333333;}
input.medium {padding: 5px 10px 5px 10px; font-weight: bold; color: #333333; font-size: small;}
input.large {padding: 8px 20px 8px 20px; font-weight: bold; color: #333333; font-size: small;}
input.medium1 {padding: 2px 3px 2px 3px; font-size: 13pt;font-weight: bold; color:#333333;}
input.RunReport {padding: 2px 3px 2px 3px; font-size: 8pt;font-weight: bold; color:#333333; width: 120px;}
.TicketCheckBox input
{
padding-left: 0px;
margin-left: 0px;
}
.TicketResponseBox
{
width: 661px;
height: 200px;
font-size: 12pt;
line-height:1.7em;
padding: 6px !important;
}