.buttons, input[type="submit"].buttons {
   min-width: 30px;
   background: #6bb135;
   background: -webkit-gradient(linear, left top, left bottom, from(#91c929), to(#6bb135));
   background: -webkit-linear-gradient(top, #91c929, #6bb135);
   background: -moz-linear-gradient(top, #91c929, #6bb135);
   background: -ms-linear-gradient(top, #91c929, #6bb135);
   background: -o-linear-gradient(top, #91c929, #6bb135);
   padding: 0.6em 1em;
   -webkit-border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;   
   color: white;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   }

 .buttons:hover, input[type="submit"].buttons:hover {
   border-color: #28597a;
   background: #28597a;
   color: #fff;
   }

 .buttons:active, input[type="submit"].buttons:active {
	border-color: #39F;
	background: #39F;
   }
 
 input[type="submit"].buttons, input[type="submit"].buttons:active, input[type="submit"].buttons:hover 
 {
     color: #ffffff;
     }
   
 /* ----  Micajah button CSS   ----- */
 
 
.micajah a.buttonAlt {color: #1874CD; padding: 7px;}
.micajah a.buttonAlt:hover {background-color: #1874CD; color: white;}
.micajah a.buttonAlt:focus {background-color: #1874CD; color: white;}

.micajah a.delete {color: Maroon;}
.micajah a.delete:hover {background-color: Maroon;}
.micajah a.delete:focus {background-color: Maroon;}

.micajah a.cancel {color: gray;}
.micajah a.cancel:hover {background-color: gray;}
.micajah a.cancel:focus {background-color: gray;}

.micajah input[type="submit"]{font-weight: bold; color:#333333;padding:6px 30px 6px 30px;cursor: hand;}
.micajah input[type="submit"].small {padding: 5px 30px 5px 30px; font-size: 8pt;}
.micajah input[type="submit"].large {padding: 8px 35px 8px 35px; font-weight: bold; color: #333333; font-size: medium;}
.micajah input[type="submit"]:hover {color:#1874CD; cursor: hand;}
 

 /* ----  Non-Button CSS - wrap to seperate buttons   ----- */
 
.wrap 
{
    padding: 10px 0;
    clear: both;
    } 

