
 /* ----  Micajah button CSS   ----- */
 
a {font-size: 1.3em; font-family: "arial", Sans-Serif;} 

a.buttonAlt {color: #1874CD; padding: 7px;}
a.buttonAlt:hover {background-color: #1874CD; color: white;}
a.buttonAlt:focus {background-color: #1874CD; color: white;}

a.delete {color: Maroon;}
a.delete:hover {background-color: Maroon;}
a.delete:focus {background-color: Maroon;}

a.cancel {color: gray;}
a.cancel:hover {background-color: gray;}
a.cancel:focus {background-color: gray;}

input[type="submit"]
{
    font-weight: bold; 
    color:#333333; 
    padding:0.5em 1.5em; 
    cursor: hand; 
    border: 1px solid #acacac;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    }
input[type="submit"].small, input[type="submit"].buttons.small, .buttons.small {font-size: .9em;}
input[type="submit"].large, input[type="submit"].buttons.large, .buttons.large, .buttons .large .negative {font-weight: bold; font-size: 1.2em;}
input[type="submit"]:hover {color:#1874CD; cursor: hand;  border: 1px solid #1874CD;}


/* -- Gree Buttons  Here on Down -- */

.buttons, input[type="submit"].buttons 
{ 
	overflow: visible;
	display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid #91c929;
	margin: 0;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	outline: none;
	font-family: "Arial", Sans-Serif;
	background: #6bb135;
    background: -moz-linear-gradient(top, #91c929 0%, #6bb135 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91c929), color-stop(100%,#6bb135));
    background: -webkit-linear-gradient(top, #91c929 0%,#6bb135 100%);
    background: -o-linear-gradient(top, #91c929 0%,#6bb135 100%);
    background: -ms-linear-gradient(top, #91c929 0%,#6bb135 100%);    
    background: linear-gradient(top, #91c929 0%,#6bb135 100%);
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	-o-background-clip: padding-box; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	/* IE hacks */
	zoom: 1;
	*display: inline;
	font-weight: bold;
	font-size: 1em;
}
 
.buttons::-moz-focus-inner 
{
    padding: 0;
    border: 0;
}
   
 .buttons:hover, input[type="submit"].buttons:hover {
   border-color: #28597a;
   background: #28597a;
   color: #fff;
   }

 .buttons:active, input[type="submit"].buttons:active {
	border-color: #39F;
	background: #39F;
   }

/* -- Negative -- */
.buttons.negative
{  
	border: 1px solid #d4d4d4;
	margin: 0;
	text-decoration: none;
	color: #900;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: -o-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ececec');
	-webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    zoom: 1;
    display: inline;
  }

.buttons.negative:hover, 
.buttons.negative:focus, 
.buttons.negative:active
{
	border-color: #AB2222;
	color: #fff;
	text-decoration: none;
	background-color: #D74040;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D74040), to(#AD2323));
	background-image: -moz-linear-gradient(#D74040, #AD2323);
	background-image: -o-linear-gradient(#D74040, #AD2323);
	background-image: linear-gradient(#D74040, #AD2323);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D74040', endColorstr='#AD2323');
}
.buttons.negative:active{
	border-color: #a0302a;
	background-color: #b33630;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
	background-image: -moz-linear-gradient(#b33630, #dc5f59);
	background-image: -o-linear-gradient(#b33630, #dc5f59);
	background-image: linear-gradient(#b33630, #dc5f59);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b33630', endColorstr='#dc5f59');
}

/* ----  Non-Button CSS - wrap to seperate buttons   ----- */
 
.wrap 
{
    padding: 10px 0;
    clear: both;
    } 




