/* --- Header Section --- */

#headtop {
	color: #fff;
	width: 100%;
	max-width: 1200px;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background: #0074a2 url(../../signup2/img/Mountain_File.png) no-repeat bottom left;	
	}
#header {
	width: 960px;
	margin: 20px auto;
	padding: 25px;
	
	}
	#header h3, #header h1 {
		margin: 0;
		}
		
/*-- Section Header --*/

.formsection 
{
    width: 95%;
    max-width: 960px;
    border: 0;
    background-color: #EBEBEB;
    padding: 10px 20px;
    margin: 50px auto;
    color: #8B8B8B;
    font-size: 1.2em;
    border-radius: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    }

.container 
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Arial", Gadget, sans-serif;
    color: #333333;
    }
	
.form 
{
    display: block;
    }