form .labelleft {
    width: 260px;
}

/* --- Header Section --- */

#headtop {
	color: #fff;
	width: 100%;
	max-width: 960px;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background: #0074a2 url(../../signup2/img/Mountain_File.png) no-repeat bottom left;	
	}
#header {
	width: 960px;
	margin: 20px auto;
	padding: 25px;
	
	}
	#header h3, #header h1 {
		margin: 0;
		}
		

/*-- Section Header --*/

.formsection 
{
    width: 100%;
    max-width: 960px;
    border: 0;
    background-color: #EBEBEB;
    padding: 0;
    margin: 40px 0 30px;
    color: #8B8B8B;
    font-size: 1.2em;
    border-radius: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    }

.formsection p
{
    padding: 10px;
    }

.container 
{
    width: 850px;
    margin: 0 auto;
    padding: 0;
    font-family: "Arial", Gadget, sans-serif;
    color: #333333;
    }
	
.complete-signup
{
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-left: 279px;
    padding-top: 10px;
    }

.complete-signup-tac p
{
    font-family: Calibri, Arial, Sans-Serif;
    margin: 40px auto;
    color: #999999;
    text-align: center;
    }

.complete-signup-tac a 
{
    text-decoration: none;
    font-family: Calibri, Arial, Sans-Serif;    
    font-size: 1em;
    font-weight: bold;
    color: #999999;
    }

.complete-signup-tac a:hover 
{
    text-decoration: underline;
    } 
    
.container hr 
{
    margin: 30px 0 50px;
    }

