* {margin: 0;}

html { 
font-size: 100%; 
-webkit-overflow-scrolling: touch; 
-webkit-tap-highlight-color: rgba(0,0,0,0); 
-webkit-text-size-adjust: 100%; 
-ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }
html, body {height: 100%;}
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #127ee9; color: #fff; text-shadow: none; }
::selection { background: #127ee9; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a {
	color: #333;
	text-decoration: none;
}
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { list-style: none; margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Ben Pfohl
   ========================================================================== */

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0 0 -100px 0;
	min-width: 960px;
}

.wrapper {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.header {
	background: #276da3;
	background: -moz-linear-gradient(top,  #276da3 0%, #004174 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#276da3), color-stop(100%,#004174));
	background: -webkit-linear-gradient(top,  #276da3 0%,#004174 100%);
	background: -o-linear-gradient(top,  #276da3 0%,#004174 100%);
	background: -ms-linear-gradient(top,  #276da3 0%,#004174 100%);
	background: linear-gradient(top,  #276da3 0%,#004174 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276da3', endColorstr='#004174',GradientType=0 );
    height: 50px;
    margin: 0;
    padding: 0;
}
	.header:after {
	    content: " ";
	    display: block;
	    height: 100%;
	    width: 100%;
		}
	.header #logo {
		width: 300px;
		float: left;
		height: 50px;
		}
	.header #logo h1 {
		color: #FFFFFF;
	    font-size: 21px;
	    margin: 12px 0;
		}
		#global-nav { 
			float: right;
    		width: 500px;
			/* margin-right: -10px;  */
			}
					
			/*Menu Config-widths*/
			ul.main { height: 50px; width: auto; padding: 0 15px;}
			ul.sub,ul.sub_rt { top: 50px; }/*Change with menu height*/
			ul.main li ul li { width: 150px; } /*Define width of all dropdowns*/
			ul.sub_2nd { left: 150px; } /*Position of dropdown 2nd lvl, must mach above number*/
			ul.sub_2nd_rt { right: 150px; } /*Position of dropdown 2nd lvl right, also must mach above number*/
			
			/*Menu colors*/
			ul.main li:hover:after { border-color: transparent transparent #4c4c4c transparent; }/*Color of UP arrow in main menu*/ 
			div.nav ul.main li ul.sub li a, div.nav ul.main li ul.sub_rt li a { color: #F4F4F4; } /*Dropdown link color*/
			
			ul.main li ul.sub,
			ul.main li ul.sub_rt,
			ul.main li ul.sub li ul.sub_2nd,
			ul.main li ul.sub_rt li ul.sub_2nd_rt {
				background: #4c4c4c; border-top: 3px solid #4c4c4c; border-bottom: 3px solid #4c4c4c; 
				} /*Background and top/bot borders*/
			
			ul.main li ul.sub li,
			ul.main li ul.sub_rt li { 
				border-bottom: 1px solid #686868; 
				}/*border betwean links in dropdown*/
				
			ul.main li ul.sub li:hover,
			ul.main li ul.sub_rt li:hover,
			ul.main li ul.sub li:hover, 
			ul.main li ul.sub_rt li:hover{
				background: #686868; 
				}/*Hover on dropdowns*/
			
			/** MAIN MENU STYLE **/
			.nav ul.main li.fr { float: right; position: relative;}
			.nav ul.main { }
			
			.nav ul.main li a {
				display: block;
				font: normal 13px/50px Arial, sans-serif;
				text-decoration: none;
				padding: 0 15px;
				position: relative;
				color: #fff;
			}
			.nav ul.main li a.config {
				display: block;
				width: 20px;
				height: 50px;
				background: url(img/configuration.png) no-repeat center center;				
				padding: 0 10px 0 0;
				}
				.nav ul.main li a.config span {
					display: none;
					}
			.nav ul.main li:hover:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 44%;
				border-style: solid;
				border-width: 6px;
				width: 0;
				height: 0;
			}	
#portal-title {padding: 20px 0;}			

.top-search {
	margin-bottom: 30px;
	}

.left {float: left;}
.right {float: right;}

.ticketing {
	padding-left: 20px;
	padding-bottom: 20px;
	}
	.ticketing h2, .ticketing h3 {
		padding: 0 0 0 25px;
		}
		
	.ticketing h2 {
		margin-bottom: 8px;
		background: url(img/plus-icon.png) no-repeat 0px 2px;
		}
	.ticketing h3 {
		background: url(img/ticket-icon.png) no-repeat 0px 0px;
		}
	.ticketing a:hover {
		border-bottom: 1px dashed;
		}

.article-title {
	margin-bottom: 30px;
	}
.article-main {
	margin-bottom: 20px;
	}
	.article-main p {
		margin-bottom: 20px;
		}
.articles-related {
	margin-bottom: 30px;
	}
	.articles-related ul li {
		margin-bottom: 10px;
		}
	.articles-related h3 {
		font-weight: bold;
		padding-bottom: 10px;
		}
	.articles-related a {
		color: #06F;
		margin-bottom: 10px; 
		}
		.articles-related a:hover {
			border-bottom: 1px dashed;
			}
.articles-helpful h3 {
	line-height: 36px;
	font-weight: bold;
	font-size: 16px;
	background: url(img/thumbs-up-icon.png) no-repeat 0px 0px;
	padding-left: 40px;
	}	
	.articles-helpful h3 span {
		font-weight: normal;
		font-size: 12px;
		}

/* ----   Comments   ---- */

.articles-responses {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
    margin: 40px 0;
    padding: 20px 0;
	}
ol.commentlist  {
	color: #555555;
    font-size: 13px;
    line-height: 20px;
    margin: 10px 0 25px 20px;
	list-style: none outside none;
	padding: 0;
	}
	
#comments {
    clear: both;
    margin-top: 10px;
}
#comments #comments_wrap {
    margin: 20px 0;
    padding: 0;
	width: 650px;
    position: relative;
}
#comments ol.commentlist li {
    background: none repeat scroll 0 0 transparent;
    list-style-type: none !important;
    padding: 0;
    position: relative;
}
#comments ol.commentlist li ul {
	padding: 0 0 0 20px;
	}
.gravatar {
    background: url(img/bg-comment-tip.png) no-repeat scroll right 16px transparent;	
	left: 0;
    padding-right: 18px;
    position: absolute;
    top: 5px;
    z-index: 999;
}

img.avatar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
}
.comment-content {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E2E2E2;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
    margin-left: 65px;
    padding: 15px;
    position: relative;
}

.question .comment-content {
    background: none repeat scroll 0 0 #ECFDD4;
    border: 1px solid #C1CEA2;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
    margin-left: 65px;
    padding: 15px;
    position: relative;
}

#comments ol.commentlist .name {
    display: block;
    font-weight: bold;
    margin: 0;
}
#comments ol.commentlist .name a {
    font-size: 16px;
    text-decoration: none;
	color: #000;
}
#comments ol.commentlist .user-meta {
    color: #666666;
    font: italic 11px Georgia,Times,serif;
    margin-bottom: 12px;
    position: absolute;
    right: 15px;
    top: 20px;
}
#comments ol.commentlist .comment-entry {
    font-size: 13px;
    padding-right: 25px;
}
#comments ol.commentlist .reply {
    float: right;
    margin: -30px -30px 0 0;
}
#comments ol.commentlist .comment-reply-link {
	background:url(img/ico-comment-reply.png) no-repeat scroll left top transparent;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 37px;
    width: 37px;
}
#comments ol.commentlist .comment-reply-link:hover {
    background: url(img/ico-comment-reply.png) no-repeat scroll left bottom transparent;
}


.articles-reply {
	
	}
	.articles-reply h2 {
		margin-bottom: 30px;
		}
	.articles-reply input, 
	.articles-reply textarea {
		margin-bottom: 20px;
		width: 100%;
		}
	.articles-reply p {
		font-size: 16px;
    	padding: 8px 10px 0 20px;
		}

/* ----   Sidebar  ---- */	
.portal-aside {
	background-color: #F1F1F1;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 5px;
    width: 100%;
	}
	.portal-aside a:hover {
		border-bottom: 1px dashed;
		}
	.portal-aside ul li {
		margin: 0;
		}
		.portal-aside ul li.fb-link, 
		.portal-aside ul li.twitter-link, 
		.portal-aside ul li.phone {
			padding: 0 0 0 45px;
			line-height: 40px;
			font-size: 20px;
			vertical-align: middle;
			background-position: 4px 5px;
			background-repeat: no-repeat;
			}
			.portal-aside ul li.phone {
				background-image: url(img/phone-icon2.png);
				}
			.portal-aside ul li.fb-link {
				background-image: url(img/facebook-icon.png); 
				}
			.portal-aside ul li.twitter-link {
				background-image: url(img/twitter-icon.png);
				}
		.portal-aside ul li.widget {
			margin: 35px 10px 20px;
			}
			.portal-aside ul li.widget a {
				color: #06F;
				}
			.portal-aside ul li.widget p {
				margin: 10px 0;
				}
			.portal-aside ul li.widget h3 {
				font-weight: bold;
				padding: 5px 0;
				}
			.portal-aside ul li.widget #twit-div {
				margin: 10px 0;
				}
				.portal-aside ul li.widget #twit-div ul li {
					margin: 0 0 15px;
					}
	
.category {
	margin: 20px 0;
	}
	.category h2 {
		border-bottom: 1px solid #CCCCCC;
	    margin-bottom: 15px;
	    padding-bottom: 10px;
		}
	.category h3 {
		margin-bottom: 10px;
		font-weight: bold;
		}
	.category ul li {
		padding: 3px 0 7px 20px;
		}
		.category ul li.article {
			background: url(img/article-icon.png) no-repeat 0px 4px;
			}
		.category ul li.question {
			background: url(img/question-icon.png) no-repeat 0px 4px;
			}
		.category ul li.more {
			font-weight: bold;
			}
	.category a {
		color: #003;
		font-size: 1.1em;
		}
		.category a:hover {
			border-bottom: 1px dashed;
			}

/*-- Top Search Bar --*/	
	
.support-search-big {
	background: none repeat scroll 0 0 #E5E5E5;
	border-radius: 6px 6px 6px 6px;
	margin: 0 0 20px;
	padding: 8px;
	}
.support-search-big .outer {
	position: relative;
}	
.support-search-big .inner {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #999999 #CCCCCC #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	border-right: 1px solid #CCCCCC;	
	border-style: solid;
	border-width: 1px;
	height: 37px;
	margin: 0;
	overflow: hidden;
	padding: 0 5px;
	width: 94%;
}
.support-search-big #q {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size: 18px;
	margin: 0;
	outline: 0 none;
	padding: 9px 0;
	width: 100%;
}
.support-search-big #support-search-submit {
	background-color: #090;
	border: 0 none;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Trebuchet MS';
	font-size: 13px;
	font-weight: bold;
	height: 38px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
	width: 83px;
	}


.footer, .push {height: 100px;}
.footer {
	background: background-color: #F4F4F4;
	width: 100%;
	min-width: 960px;
	margin: 50px 0 0 0;
	padding: 10px 0;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #CCC;
	color: #777;
	}
	.footer a {
		color: #555555;
		}
		.footer .footer-left {
			text-align: left;
			}
		.footer .footer-right {
			text-align: right;
			}



/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

