/*-- pill --*/
 
.pill { 
    padding: 5px 8px 4px;
    margin: 0 5px;    
    text-decoration: none !important;
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: normal;
    text-align: center;
    }

/*-- colors --*/

.orange {
    background-color: #A55200;
    color: #fff !important;
    }

.ltgray {
	background-color: #dadbdf;
	color: #555555 !important;
	}

/*-- Global --*/
.list-title{
			float: left;
			}
			
			
/*-- ToDo List Control Mockup --*/
.todo-list-control {
	width: 960px;
	overflow: hidden;
	margin: 50px auto 0;
	position: relative;
	}
	
	.todo-list-control .add-list-form 
	{
	    width: 100%;
        background-color: #EBEBEB;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        position: absolute;
        padding: 10px;
        margin-bottom: 10px;
        left: 0;
        display: none;
	    }
	    .todo-list-control .add-list-form span.close {
		        position: absolute;
		        right: 10px;
		        top: 10px;
		        font-weight: bold;
		        font-family: sans-serif;
		        cursor: pointer;
	        }
	    .todo-list-control .add-list-name
	    {
	        float: left;
	        margin: 0 20px 0 80px;
	        
	        }        
	        
	        .todo-list-control .add-list-name input 
	        {
	            width: 500px;
	            padding: 0.625em;
	            }
	        .todo-list-control .add-list-name .add-list-submit 
	        {
	            
	            }
	
	.todo-list-control .add-list 
	{
	    position: absolute;
	    right: 0;
	    top: 10px;
			}
	.todo-list .list-top{
		overflow: hidden;
		width: 100%;
		padding: 10px 0;		}
		
		
	.todo-list .list-list {
		width: 100%;
		}
		.list-row,
		.list-row-done
		{
			width: 100%;
			padding: 10px 0;
			margin: -1px 0 0;
			min-height: 24px;
			z-index: 0;
			font-size: 14px;
			}	
	    .list-row
	    {
	        border-top: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;
	        }	
		.todo-list .list-row-edit
		{
			width: 100%;
			padding: 10px 0;
			margin: -1px 0 0;
			border-top: 1px solid #cccccc;
			border-bottom: 1px solid #cccccc;
			overflow: hidden;
			z-index: 0;
			font-size: 14px;
			}
			.todo-list .list-row:hover {
				background-color: #F3F3F3;								
				}
			.list-select{
				float: left;
				padding: 2px 15px 0;							
				}
				
			.list-desc{
				float: left;
				margin-right: 20px;
				width: 400px;
				}
			.list-asigned-to{
				float: left;
				margin-right: 20px;
				width: 120px;
				}
			.list-date{
				float: left;
				margin: 0 20px;
				}
			.list-est-time{
				float: left;
				margin: 0 20px;
				padding-left: 20px;
				background: url(../../todolists/img/clock.gif) no-repeat left center;
				}
			.list-task-edit{
				display: none;
				float: right;
				margin-right: 10px;
				}
				.list-task-edit span 
				{
				    margin-top: 2px;
				    }
				.todo-list-control .list-row:hover .list-task-edit {
					display: block;
					cursor: pointer;
					}
		
		.todo-list .list-row-edit,
		.todo-list .list-row-add
		 {
			background-color: #EAEAEA;
			padding: 10px 20px 15px;
			}
			.todo-list .list-row-edit p,
			.todo-list .list-row-add p
			{
				margin: 0;
				}
			.todo-list .list-row-edit textarea,
			.todo-list .list-row-add textarea
			 {
			    width: 92.5% !important;
				padding: 15px;
			    }
			
			.todo-list .list-det-edit,
			.todo-list .list-task-action
			 {
				padding: 10px 0;
				margin-bottom: 10px;
				overflow: hidden;
				}
				
				.todo-list .list-asign-to-edit,
				.todo-list .list-date-edit,
				.todo-list .list-est-time-edit
				{
					float: left;
					margin-right: 25px;
					}
				.todo-list .list-asign-to-edit select {
					width: 200px;
					}
				.todo-list .list-date-edit input {
					width: 100px;
					text-align: center;
					}
				.todo-list .list-est-time-edit input {
					width: 75px;
					text-align: center;
					}
				
		.todo-list .list-add-task 
		{
		    padding: 20px;
		    }
		    .todo-list .list-add-task a
		    {
		        font-weight: bold;
		        }
        .todo-list .list-completed-tasks 
        {
            color: #c5c5c5;
            }
            .todo-list .list-completed-tasks .list-desc,
            .todo-list .list-completed-tasks .list-date,
            .todo-list .list-completed-tasks .list-est-time
            {
                text-decoration: line-through;
                }
            .todo-list .list-completed-tasks .list-est-time 
            {
                background: url(../../todolists/img/clock_grey.gif) no-repeat left center;
                }

/*----------------------- Overview Page  --------------------------*/

.todo-overview 
{
    width: 960px;
    margin: 0 auto; 
    }
    .todo-overview .list-filter-row 
    {
        padding: 20px 0;
        vertical-align: middle;
        }
        .todo-overview .list-filter-row p 
        {
            margin: 0 0 0 3px;
            font-weight: bold;
            }
        .todo-overview .list-filter-row .filter-tasks-tech,
        .todo-overview .list-filter-row .filter-tasks-due,
        .todo-overview .list-filter-row .filter-tasks-attach        
        {
            float: left;
            margin-right: 20px;
            width: auto;
            } 
        .todo-overview .list-filter-row .add-template 
        {
            float: right;
            margin: 30px 0 0;
            }  
            .todo-overview .list-filter-row .add-template a 
            {
                text-decoration: none;
                font-weight: bold;
                }       
    .todo-overview .attachment-row 
    {
        padding: 30px 0 20px;
        height: auto;
        }
        .todo-overview .attachment-row .attachment-title 
        {
            overflow: hidden;
            }
            .todo-overview .attachment-row .attachment-title h4 
            {
                float: left;
                margin-bottom: 5px;
                }
        .todo-overview .attachment-row 
        {
            
            }
        
        .todo-overview .attachment-row .list-row 
        {
            overflow:hidden;
            position: relative;
            border-top: 4px solid #fff;
            }
        .todo-overview .attachment-row .list-row .list-row-title 
        {
            background-color: #EFEFEF;
            width: 200px;
            padding:10px;
            float: left; 
            height: 100%;
            position: absolute;
            left: 0;           
            }
            .todo-overview .attachment-row .list-row .list-row-title p 
            {
                margin: 0;
                float: right;
                font-weight: bold;
                }
        .todo-overview .list-row .list-row-tasks 
        {
            float: left;
            padding: 10px 0;
            width: 740px;
            margin-left: 220px;
            }
            .todo-overview .list-row .list-row-tasks .list-task 
            {
                float: left;
                margin-bottom: 20px;
                }
        