/*------------------------------------------------------------ 

Buttons and Links CSS 

-------------------------------------------------------------- */




/* ------------------------------------------------------------------------------------------------------------- BUTTON */
.sdbutton {
	padding: 0.5em 1.5em;
	border: 1px solid #d4d4d4;
	margin: 0;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	font-family: arial, sans-serif;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #ececec;
	border-radius: 0.2em;
    zoom: 1;
    display: inline;
    background-image: linear-gradient(#f4f4f4, #ececec);
	}
.sdbutton:hover, .sdbutton:focus, .sdbutton:active , .sdbutton.active{
	border-bottom-color: #2a65a0;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #3072b3;
	background-image: linear-gradient(#599bdc, #3072b3);
	border-left-color: #3072b3;
    border-right-color: #3072b3;
    border-top-color: #3072b3;
}
.sdbutton:active {
	border-bottom-color: #3884CF;
	color: #fff;
	background-color: #3072b3;
	background-image: linear-gradient(#3072b3, #599bdc);
	border-left-color: #2a65a0;
    border-right-color: #2a65a0;
    border-top-color: #2a65a0;
}
/* overrides extra padding on button elements in Firefox */
.sdbutton::-moz-focus-inner {
	padding: 0;
	border: 0;
}




/* ----  Standard buttons CSS   ----- */
 
.buttonAlt {color: #28597a; padding: 7px; font-size: 1.2em;}
.buttonAlt:hover {background-color: #28597a; color: white;}
.buttonAlt:focus {background-color: #28597a; color: white;}

.delete {color: Maroon;}
.delete:hover {background-color: Maroon;}
.delete:focus {background-color: Maroon;}

.cancel {color: gray;}
.cancel:hover {background-color: gray;}
.cancel:focus {background-color: gray;}

input[type="submit"]
{
    font-family: arial, sans-serif; 
    font-weight: bold; 
    color:#444444; 
    padding:0.5em 2.05em; 
    cursor: hand; 
    border: 1px solid #acacac;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    }
input[type="submit"].small, input[type="submit"].buttons.small, .buttons.small {font-size: .9em;}
input[type="submit"].large, input[type="submit"].buttons.large, .buttons.large, .buttons .large .negative {font-weight: bold; font-size: 1.3em;}
input[type="submit"].x-large, input[type="submit"].buttons.x-large, .buttons.x-large, .buttons .x-large .negative {font-weight: bold; font-size: 1.5em;}



/* -- Green Buttons  Here on Down -- */

.buttons, input[type="submit"].buttons 
{ 
	background-color: #92C74F;
    border: 1px solid #79A541;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-size: 1.05em;
    font-weight: bold;
    overflow: visible;
    padding: 0.6em 2em;
    text-decoration: none;
    width: auto;
}
 
.buttons::-moz-focus-inner 
{
    padding: 0;
    border: 0;
}
   
 .buttons:hover, input[type="submit"].buttons:hover {   
    color: #fff;
    border-color: #39F;
    background: #39F;
   }

 .buttons:active, input[type="submit"].buttons:active {
    border-color: #28597a;
    background: #28597a;
   }

/* -- Info Button -- */
   
.buttons.info 
{
    background-color: #058dc7;
    border-color: #058dc7;
    }  
    
.buttons.info:hover, input[type="submit"].buttons.info:hover {     
    border-color: #09a0e1;
    background: #09a0e1;
   }

/* -- Negative Button -- */
.negative
{  

	border: 1px solid #acacac;
	margin: 0;
	text-decoration: none;
	color: #900 !important;
	white-space: nowrap;
	cursor: pointer;
	outline: none;	
	background: #ffffff;   	
	-webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    zoom: 1;
    display: inline;
}

.negative:hover, 
.negative:focus, 
.negative:active
{
	border-color: #AB2222 !important;
	color: #fff !important;
	text-decoration: none;	
	background: #D74040;
	}
	
.negative:active{
	border-color: #a0302a;
	background-color: #b33630;
	background: #AD2323;
	}
	
	
/* --- Add Button ---*/

.buttons span
{
    font-size: 1.7em;
    margin: 0 9px 0 0;
    vertical-align: middle;
    padding: 0 0 2px;
}

/* ----  Non-Button CSS - wrap to seperate buttons   ----- */
 
.wrap 
{
    padding: 10px 0;
    clear: both;
    } 