/*-----------------------  Progress Bars ------------------------------*/

.progress {
  overflow: hidden;
  height: 18px;
  margin-bottom: 18px;
  background-color: #f7f7f7;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
}

/*-- Standard is a dardker blue --*/
.progress .bar {
  width: 0%;
  height: 18px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
    background-image: linear-gradient(top, #149bdf, #0480be);
}

.progress-large, 
.progress .bar-large 
{
    height: 32px;
    }

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-red .bar {
  background-color: #951F2B;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
}

.progress-green .bar {
  background-color: #5eb95e;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #62c462, #57a957);
}
.progress-blue .bar {
  background-color: #4bb1cf;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #5bc0de, #339bb9);
}

.progress-yellow .bar {
  background-color: #faa732;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #fbb450, #f89406);
}