
/*-- Reset Table Hover --*/

tbody tr:hover, tbody tr.even-row:hover {
    background: none;
}


/* ------------------------------------------------------------*/
.account-heading h2, h1, h4 
{
    margin-bottom: 0;
    padding-bottom: 0;
    }


a 
{
    text-decoration: none;
    }

small 
{
    color: #999999;
    } 

.account-heading 
{
    margin: 40px 0 20px;
    padding: 10px 15px 10px 0;    
    border-bottom: 2px solid #417da6;
    }

.account-heading.cancel-account
{
    background: #f97171;
    background: -moz-linear-gradient(top, #f97171 0%, #df3e3e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f97171), color-stop(100%,#df3e3e));
    background: -webkit-linear-gradient(top, #f97171 0%,#df3e3e 100%);
    background: -o-linear-gradient(top, #f97171 0%,#df3e3e 100%);
    background: -ms-linear-gradient(top, #f97171 0%,#df3e3e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97171', endColorstr='#df3e3e',GradientType=0 );
    background: linear-gradient(top, #f97171 0%,#df3e3e 100%);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #990000;
    padding-left: 15px;
    border: none;
    }

.account-heading.cancel-account h2 
{
    font-size: .98em;
    }

#cancel-account
{
   overflow: hidden;
   padding: 0 10px 10px; 
    }

#cancel-account a 
{
    float: right;
    }

#cancel-account p 
{
    width: 70%;
    float: left;
    }

#planinfo 
{
    margin: 0;
    }

#planinfo, 
#payment-type, 
#payment-history, 
#training-consulting,
#cancel_account,
.accountwrap
{
    width: 600px;    
    overflow: hidden;    
    }


table td,
table th 
{
    padding: 10px;
    line-height: 1.3em;
    } 

tbody 
{
    border-bottom: 1px solid #ddd;
    }

tbody tr 
{
    border-top: 1px solid #ddd;
    }

.yourplan 
{
    background-color: #fffcc4;
    border: 1px solid #d2c05e;
    color: #837211;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.6em 1em;
    }
    
tbody tr.currentplan:hover
{
    background: #fffbdf;
    border-top: 1px solid #d2c05e;
    border-bottom: 1px solid #d2c05e;
    } 

/* -- Payment Type -- */

#account-head 
{
    overflow:hidden;
    margin-top: 30px;
    }

.account-type 
{
    width: 15%;
    max-width: 150px;
    border-right: 1px solid #417da6;
    overflow: hidden;
    float: left;
    padding: 7px 0;
    }
    
    
#payment-set
{
    padding-top: 2px; 
    float: right;
    width: 79.8%;  
    }
#payment-set h4 
{
    line-height: 1em;
    }

#payment-update 
{
    float: right;
    margin-top: 15px;
    }
#payment-status 
{
    margin-top: 6px;
    padding-top: 1px;
    padding-left: 40px;
    background: url('../../accounts/img/credit_card.png') center left no-repeat; 
    min-height: 32px;
    }
    
    
/* -- Plan Info -- */

#planinfo h2 
{
    margin: 0;
    padding: 0;
    line-height: 1em;
    }
#planinfo small.plandescsm
{
    float: left;
    }


/* -- Account Settings Tabs content -- */


/* --  Asset Auditor -- */

#asset-auditor h4 
{
    padding-left: 40px;
    background: url('../../accounts/img/assets.png') top left no-repeat; 
    line-height: 32px;
    padding-top: 2px; 
    float: left;  
    }

/* --  Billing and Invoicing -- */

#billing-invoicing h4 
{
    padding-left: 40px;
    background: url('../../accounts/img/billing.png') top left no-repeat; 
    line-height: 32px;
    padding-top: 2px; 
    float: left;  
    }
    
/* --  LDAP Integration -- */

#ldap-integration h4 
{
    padding-left: 40px;
    background: url('../../accounts/img/ldap.png') top left no-repeat; 
    line-height: 32px;
    padding-top: 2px; 
    float: left;  
    }

/* --  Remote Assistance -- */

#remote-assistance h4 
{
    padding-left: 40px;
    background: url('../../accounts/img/remote.png') top left no-repeat; 
    line-height: 32px;
    padding-top: 2px; 
    float: left;  
    }

/* --  SSL -- */

#ssl-security h4 
{
    padding-left: 40px;
    background: url('../../accounts/img/ssl.png') top left no-repeat; 
    line-height: 32px;
    padding-top: 2px; 
    float: left;  
    }


#asset-auditor,
#billing-invoicing,
#ldap-integration,
#remote-assistance,
#ssl-security
{
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 16px 0;
    }


.feature-toggle 
{
    float: right;
    margin-top: 5px;
    }

/* --  Account Usage -- */

#progressbar1,
#progressbar2,
#progressbar3,
#progressbar4,
#progressbar5,
#progressbar6,
#progressbar7,
#progressbar8,
#progressbar9,
#progressbar10 
{
    height: 8px;
    }

.ui-progressbar .ui-progressbar-value
{
    background: #417DA6;
    border: 1px solid #417DA6;
    }

#progressbar6.ui-progressbar .ui-progressbar-value
{
    background: #951F2B;
    border: 1px solid #951F2B;
    }

/*-- revised 1-31-12   ---*/

.account-usage tbody tr, .account-usage tbody 
{
    border: none;
    }
.account-usage
{
    width: 100%;
    } 
    .account-usage .probar td
    {
        padding-top:0;
        }
    .account-usage td
    {
        padding-bottom: 0;
        }
    .account-usage tr 
    {
        margin-top: 10px;
        }



/*-- End Revised 1-31-12 ---*/


/* -- 
.account-usage
{
    width: 100%;
    }    
.account-usage-amount
{
    width: 40%;
    float: right;
    text-align: right;
    }
.account-usage-amount h4
{
    font-size: 26px;
    margin: 2px 0;
    }
.account-usage-amount p 
{
    margin: 0;
    color: #999999;
    }
.account-usage tbody tr, .account-usage tbody 
{
    border: none;
    } 
.account-usage .featurelabel h4 
{
    float: right;
    padding: 0;
    margin: 3px 0;
    }
.account-usage .featurelabel h5 
{
    float: left;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.5em;
    }
.account-usage .featurelabel
{
    width: 40%;
    overflow: hidden;
    padding: 0;
    margin: 12px 0 0;
    float: left;
    }
-- */

.under 
{
    color: #79A541;
    }
.over 
{
    color: #951F2B;
    }
.even
{
    color: #cccccc;
    }


/* --  Payment History -- */

table#payhistory 
{
    margin-top: 10px;
    border: 1px solid #CCCCCC;
    width: 100%;
    }

table#payhistory a 
{
    text-decoration:  none;
    }
/*--   
table#payhistory th 
{
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    padding: 0.4em;
    font-weight: bold;
    text-align: center;
    } --*/

table#payhistory tr.paysuccess td.amount 
{
    color: #00AA00;
    font-weight: bold;
    }

table#payhistory tr.payfail td.amount,
table#payhistory tr.payfail td.receipt a 
{
    color: #bf0000;
    font-weight: bold;
    }

/* --  Support Options -- */

#support
{
    margin-bottom: 40px;
    }

#emailsupport h4 
{
    padding-left: 40px;
    background: url('../../accounts/img/help.png') top left no-repeat; 
    line-height: 32px;
    padding-top: 2px; 
    float: left;  
    }

.email-emailsupport 
{
    float: right;
    margin-top: 8px;
    }

#phonesupport h4 
{
    padding-left: 40px;
    background: url('../../accounts/img/phone.png') top left no-repeat; 
    line-height: 32px;
    padding-top: 2px; 
    float: left;  
    }

#phone-service
{
    display: none;
    color: #006792;
    }
#phone-service h4
{
    background: none;
    }

#emailsupport,
#phonesupport
{
    width: 100%;
    max-width: 600px;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
    } 



/* -- Training Section -- */

#training-consulting table tbody tr, #training-consulting table tbody td, #training-consulting table tbody
{
    border: none;
    }

#training-consulting table tbody tr, #training-consulting table tbody td
{
    padding: 10px 0 10px 10px;
    }

.training
{
    float: left;
    }

.training strong 
{
    font-size: 1.2em;
    margin-right: 20px;
    }

.training p span 
{
    font-size: 1.4em;
    }
    
#training-consulting td p
{
    padding: 15px 0 0;
    }

.purchase 
{
    float: right;
    margin-top: 12px;
    
    }

/* --  CC Update Pop -- */

#credit_card_form .content .cards_select
{
    margin: 0 74px;
    }

#credit_card_form 
{
    min-width: 350px;
    overflow: hidden;
    padding: 10px;
    }

#credit_card_form .content
{
    color: #333333;
    font-size: 12px;
    width: 380px;
    
    }

#credit_card_form .content h2 {
    border-bottom: 1px solid #DDDDDD !important;
    font-size: 16px;
    margin: 0 0 10px -10px;
    padding: 0 10px 10px;
    width: 100%;
}  

ul.cards {
    height: 32px;
    margin: 0 0 25px !important;
}

ul.cards li {
    float: left;
    list-style-type: none;
    margin: 0 7px 0 0 !important;
}

ul.cards .card.visa {
    background-image: url("../../accounts/img/cc-icons/visa.png");
}
ul.cards .card.master {
    background-image: url("../../accounts/img/cc-icons/mastercard.png");
}
ul.cards .card.american-express {
    background-image: url("../../accounts/img/cc-icons/amex.png");
}
ul.cards .card.discover {
    background-image: url("../../accounts/img/cc-icons/discover.png");
}

ul.cards .card {
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    text-indent: -9999px;
    width: 51px;
}
ul.cards li.text {
    color: #999999;
    font-size: 11px;
    position: relative;
    top: 9px;
}

dl.form dt {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

input#credit-card-number.text-input, input#credit-card-month.text-input, input#credit-card-year.text-input 
{
    padding: .75em;  
	border: solid 1px #CCC; 
	-webkit-appearance: none;
	border-radius: 5px;
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px; 
	outline: 0;  
	font: normal 13px/100% Verdana, Tahoma, sans-serif; 
	background-color: #ffffff; 
    }

input#credit-card-number.text-input 
{
    width: 94%;   
    }

input#credit-card-month.text-input 
{
    width: 30px;
    text-align: center;
    margin-right: 10px;
    }

input#credit-card-year.text-input
{
    width: 80px;
    text-align: center;
    }

input#credit-card-number.text-input:hover, input#credit-card-exp.text-input:hover
{
	border-color: #80BFFF;
	}  
      
input#credit-card-number.text-input:focus, input#credit-card-exp.text-input:focus 
{
	border-color: #0053A6;
}

.ccformsubmit 
{
    text-align: center;
    }


/*-- Tabs Stuff --*/

#accounts-tabs 
{
    margin: 40px 0 0;
    }


ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #d2d2d2;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #333;
	display: block;
	font-size: 1.1em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {	
	overflow: hidden;
	clear: both;
	float: left; 
	width: 100%;
}
.tab_content {
	padding: 20px 10px;
}