body 
{
    padding-top: 90px;
}

.alpha {margin-left: 0 !important;}
.omega {margin-right: 0 !important;}

.nav a img.gravatar 
{
    margin: -4px 10px 0 0;
    padding: 0;
    width: 24px;
    vertical-align: top;
    }

/*--------- Larger Button -----------*/
.btn-larger {font-size: 20px !important; padding: 10px 28px !important;}
.btn-larger i {margin-top: 5px !important;}

/*-----------  Footer  ------------------*/

.footer
{
    height: 100px;
	width: 100%;
	margin: 0;
	border-top: 1px solid #CCC;
	color: #777;
	}

	.footer #message {
		color: #000;
		font-size: 12px !important;
		}
	.footer #left-foot {
		float: left;
		width: auto;
		text-align: left;		
		}
		.footer ul {
			list-style: none;
			}
			.footer #left-foot ul li {
				font-size: .8em;
				line-height: 1.5em;
				display: inline;
				padding: 0 5px;
				}
	.footer #right-foot {
		float: right;
		width: auto;
		text-align: right;
		}
		.footer #right-foot ul {
			display: block;
			}
			.footer #right-foot ul li {
				font-size: .8em;
				line-height: 1.5em;
				}

/*-----------  Tech Lander  -------------*/

.checkin-home 
{
    margin-top: 5px;
    }
.checkin-home h2 
{
    float: left;
    margin: -3px 10px 0 0;
    font-weight: normal;
    }

.add-ticket 
{
    margin-right: -28px;
    }
    
.time-close 
{
    z-index: 99999;
    position: relative;
    right: -845px;
    top: 15px; 
    
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;   
    }
.time-logger 
{
    color: #5b4811;
    margin: 30px -30px 20px -45px;
    padding: 0 45px 10px;
    background-color: #fff298;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #c99a1c;
    min-height: 100px;
    display: none;
    }
    .time-logger .row 
    {
        margin-left: -60px;
        padding: 5px 0
        }
    .time-logger h2 
    {
        color: #5b4811;
        }
    .time-logger span 
    {
        margin: 12px 10px 0 10px;
        }
        .time-logger span.time 
        {
            font-weight: bold;
            }
    .time-logger .timeclock 
    {
        background-color: #5b4811;
        color: #ffffff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        min-height: 30px;
        margin-left: 0;
        margin-top: 22px;
        padding: 10px 0;
        }
        .time-logger .timeclock input 
        {
            padding: 10px 10px;
            color: #5b4811;
            }
        .time-logger .timeclock select
        {
            padding: 10px 5px;
            color: #5B4811;
            line-height: 40px;
            height: 40px;
            }
        .time-logger .timeclock label {color: #ffffff;}
        .time-logger .timeclock small {font-size:10px;}
        .time-logger .timeclock .span1-5 
         {
             width: 80px;
             }
             .time-logger .timeclock .time {font-size: 18px;}
             .time-logger .timeclock .hours {font-size: 24px;}
        .time-logger .start-stop {margin:20px 0 0;}
        .time-logger .add-time {margin-top: 20px;}




ul.counters 
{
    text-align: center;
    margin: 0;
    width: 100%;
    min-width: 980px;
    }
ul.counters li 
{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 0 13px 0 3px;
    margin-top: 10px;
    border-right: 1px solid #e4e4e4;
    }
    ul.counters li:first-child {padding-left: 0;}
    ul.counters li:last-child {padding-right: 0; border: none;}
    ul.counters li a span 
    {
        font-size: 14px;
        padding: 5px 0 5px 30px; 
        color: #4b4b4b;
        }
        ul.counters li span.newmessage {background: url(../../SherpaDeskv3/img/newmessages.png) top left no-repeat;}
        ul.counters li span.opentickets {background: url(../../SherpaDeskv3/img/opentickets.png) top left no-repeat;}
        ul.counters li span.openascustomer {background: url(../../SherpaDeskv3/img/opencustomer.png) top left no-repeat;}
        ul.counters li span.onhold {background: url(../../SherpaDeskv3/img/onhold.png) top left no-repeat;}
        ul.counters li span.followupdates {background: url(../../SherpaDeskv3/img/followups.png) top left no-repeat;}
        ul.counters li span.waitingonparts {background: url(../../SherpaDeskv3/img/waiting.png) top left no-repeat;}
        ul.counters li span.unconfirmed {background: url(../../SherpaDeskv3/img/unconfirmed.png) top left no-repeat;}
    ul.counters li h1 
    {
        font-size: 64px;
        line-height: 80px;
                       }  
    ul.counters li a, 
    ul.counters li a:hover 
    {
        text-decoration: none;
        }
   ul.counters li a:hover h1,
   ul.counters li a:hover span 
   {
       color: #058dc7;
       }
    
    .recent-activity 
    {
        margin-top: 20px;
        }
        
/*-- Widgets Area --*/

.widgets
{
    margin: 40px 0;
    }
        
/*-- Todos on Home --*/
.list-list {
    margin: 0;
    }
.list-desc {
    width: 325px !important;
    }
    